<select onchange={{action "selectHour" value="target.value"}}>
  {{#each hours as |hourChoice|}}
  <option value={{hourChoice}} attr="{{realhour}}-{{hourChoice}}" selected={{eq realhour hourChoice}} >{{hourChoice}}</option>
  {{/each}}
</select>
