<select onchange={{action "selectMinute" value="target.value"}}>
  {{#each minutes as |minuteChoice|}}
  <option value={{minuteChoice}} selected={{eq realminute minuteChoice}} >{{minuteChoice}}</option>
  {{/each}}
</select>
