<div class="schedule">


{{#bs-tab as |tab|}}
  {{#tab.pane title="Regular Scheduleset"}}
<div class="hideSearch">
  <div class=" ssets">
    {{#each schedulesets as |scheduleset index|}}
    {{#link-to 'dashboard.group.schedulesets.scheduleset.view' scheduleset.id }}
    <div class="col-md-3">
      <div class="sset  {{if scheduleset.haveTimings 'well' '' }}">
        {{#if scheduleset.assigned}}
         <span class="oktick glyphicon glyphicon-ok-sign"></span>
         {{/if}}
        {{incrementone index}} - {{scheduleset.description}}
      </div>
    </div>

    {{/link-to}}
    {{/each}}
  </div>
  <div class="clearfix"></div><hr><div class="col-md-4">
    {{#bs-button class="btn-default" onClick=(action (mut modal1) true)}}Send Schedulesets{{/bs-button}}
  </div>
</div>


  <!-- {{#bs-button class="btn-sm" onClick=(action (mut modal1) true)}}Send Schedulesets{{/bs-button}} -->


  {{#bs-modal open=modal1 onSubmit=(action "sendSelectedSchedulesets") onHidden=(action (mut modal1) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
        Select Users
    </h4>
  {{/modal.header}}
  {{#modal.body}}
  {{models-table
    data=memberusers
    columns=memberuserscolumns
    multipleSelect=true
    useFilteringByColumns=false
      showColumnsDropdown=false
      useNumericPagination=true
      sendDisplayDataChangedAction=true
    displayDataChangedAction='memberusersdisplayDataChanged'
    showComponentFooter=false}}

  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}

    {{#bs-button type="success" onClick=(action modal.submit)}}Send{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}



  {{/tab.pane}}

  {{#tab.pane title="Exam Scheduleset"}}

  <div class="hideSearch">
    {{#each examschedulesets as |examscheduleset index|}}
    {{#link-to 'dashboard.group.examschedulesets.examscheduleset.view' examscheduleset.id }}
    <div class="col-md-3">
      <div class="sset {{if examscheduleset.haveTimings 'well' '' }}">
        {{#if examscheduleset.assigned}}
        <span class="oktick glyphicon glyphicon-ok-sign"></span>
         {{/if}}
      {{incrementone index}} - {{examscheduleset.description}}
    </div>
  </div>
    {{/link-to}}
    {{/each}}
  </div>



  <div class="clearfix"></div><hr><div class="col-md-4">
    <!-- {{#bs-button onClick=(action (mut modal2) true)}}Send Schedulesets{{/bs-button}} -->

  </div>

    {{#bs-modal open=modal2 onSubmit=(action "sendSelectedExamSchedulesets") onHidden=(action (mut modal2) false) as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title">
          Select Users
      </h4>
    {{/modal.header}}
    {{#modal.body}}
    {{models-table
      data=memberusers
      columns=memberuserscolumns
      multipleSelect=true
      useFilteringByColumns=false
        showColumnsDropdown=false
        useNumericPagination=true
        sendDisplayDataChangedAction=true
      displayDataChangedAction='memberusersdisplayDataChanged'
      showComponentFooter=false}}

    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}

      {{#bs-button type="success" onClick=(action modal.submit)}}Send{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}

  {{/tab.pane}}


{{/bs-tab}}
</div>
