<div class="panel panel-default">
  <div class="panel-heading clearfix"><h4 class="pull-left">{{user.nameofinstitution}}</h4>
    <!-- <button class="btn btn-primary btn-sm pull-right" {{action "impersonateUser" user}}>Impersonate</button> -->
  </div>
  <div class="panel-body userpanel">
    <div class="row">
      <div class="col-md-6">
        <label for="">Location</label>: {{user.location}}<br>
        <label for="">Phone</label>: {{user.contactno}}<br>
        <label for="">Installation Date</label>: {{moment-format user.installationdate 'DD-MM-YYYY'}}<br>

      </div>
      <div class="col-md-6">
        <label for="">Address</label>: {{user.address}}<br>

      </div>
    </div>
    <hr>
    <form class="form-inline row">
  <div class="form-group col-md-6">
    <label for="">New Password</label>:
    {{input type="password"  class="form-control" value=password class=" form-control input-sm"}}
  </div>
  <div class="form-group col-md-6">
    <label for="">Confirm Password</label>:
    {{input type="password" class="form-control" value=password_confirmation}}
  </div>
{{#if checkPasswordSame}}
<div class="alert">Password is not same</div>
{{/if}}
</form>
<hr>
<button {{action "saveUser" user}}class="btn btn-default"> Save User</button>

  </div>
</div>
