@import "ember-bootstrap/bootstrap";

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter:alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.hideSearch .globalSearch{
  display: none;
}
.ember-content-editable:focus {
      display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  background: url(asanoha-400px.png);
  height: 100%;
}
.app
{
  position: relative;
  height: 550px;
  font-family: 'Ubuntu', sans-serif ;
  // margin-top: 50px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.26);
  /*border: 10px solid #fff;*/
  background: rgba(255, 255, 255, 0.479);
  overflow: hidden;
  height: 100vh;
}
.app-login
{
  height: 550px;
  margin-top: 50px;
}
.sidebar
{
  height: 100%;
  background: #4A5899;
  padding: 0px;
  color: #fff;
  width: 20%;
  float: left;
  position: relative;
}
.sidebar p

{
  text-align: center;
bottom: 0;
position: absolute;
width: 100%;
font-size: 11px;
color: #ccc;
}
.sidebar h3 a
{
  color: #fff;
  margin: 15px;
}

a.list-group-item, button.list-group-item
{
  color: #fff;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item
{
  background: transparent;
  border: none;
  margin-bottom: 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: rgba(255,255,255,.15);
    border-color: #337ab7;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(245,245,245,0.1);
}
.rightpane
{
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.profile
{
  padding: 15px;
}
.profile .img
{
  width: 60px;
  background: #fff;
  float: left;
  margin-right: 10px;
}
.profile .img img
{
  width: 100%;
}
.profile a{
  color: #fff;
}
.login
{
    background: #4A5899;
    height: 100%;
    padding: 50px 20px 20px 20px;
    color: #fff;;
    text-align: center;
}
.login h2
{
  font-weight: 200;
}
.slick-slide
{
  text-align: center;
}
h1

{
font-weight: 200;
border-bottom: 1px solid #4a5899;
padding-bottom: 4px;
font-size: 28px;
display: block;
}
.tab-content
{
  padding: 15px;
border: 1px solid #ddd;
border-top: none;
}
.rightpanetitle
{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;


}
.rightpanecon
{
  height: calc(100% - 65px);
overflow-x: auto;
padding-right: 15px;
clear: both;
}
.rightpanecon::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.rightpanecon::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.rightpanecon::-webkit-scrollbar-thumb
{
	background-color: #4a5899;
}
.ssets
{

}
.sset
{
  width: 100%;
  height: 120px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  float: left;
  text-align: center;
  color: #121;
  box-shadow: 0px 0px 15px -5px #4a5899;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
  border: 2px solid #bbb;
  border-bottom: 10px solid #bbb;


}
.sset .oktick
{
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 21px;
    color: #ff6347;
    background: #fff;
    border-radius: 50%;
}
.sset:hover
{
  box-shadow: 0px 0px 15px -2px #4a5899;
  transition: 0.3s;


}
/*.slick-track
{

  -webkit-filter: blur(5px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
opacity: 0.95;

}*/
.schedule .nav-tabs > li > a
{
  border-radius: 4px;
}
.schedule .tab-content
{
  border: none;
  padding: 15px 0;
}
.schedule .nav-tabs > li.active > a, .schedule .nav-tabs > li.active > a:hover, .schedule .nav-tabs > li.active > a:focus
{
      border: 1px solid #4a5899;
}
.schedule .nav-tabs
{
  border-bottom: none;
}
.schedule .nav > li > a
{
  color: #4a5899;
}
.btn-default {
    color: #4a5899;
    background-color: #fff;
    border-color: #4a5899;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #cccccc;
    background: #fff;
}
.selectize-input
{
padding: 7px 8px;
}
.npl
{
  padding-left: 0!important;
}
.np
{
  padding: 0px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
  border-top: 1px solid rgba(74,88,153,0.3);
}

.profile label
{
  width: 160px;
  font-weight: 200;
}
.profile
{
  font-weight:500;
}
.uploadprofile
{
  opacity: 0;
  height: 45px;;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}
.btn-upload
{
  position: relative;
  width: 200px;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
}
.progress
{
  height: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}
audio, canvas, progress, video
{
  vertical-align: middle;
}
.btn-primary {
    color: #fff;
    background-color: #4a5899;
    border-color: #6571a8;
  }
.btn-primary:hover {
  color: #fff;
  background-color: #6571a8;
  border-color: #4a5899;
}
.ticket {
    display: inline-block;
    border: 3px dotted #4a5899;
    padding: 10px 15px;
    margin: 5px;
    box-shadow: 0px 0px 10px -1px rgba(74,88,153,0.7);
    width: 100px;
    min-height: 66px;
    text-align: center;
    vertical-align: middle;
    color: #6571a8;

  }
.ticket:hover
{
  box-shadow: 0px 0px 12px 0px rgba(74,88,153,0.9);

}
.label-open
{
  background: #fff;
  color: #4a5899;
  border: 1px solid #4a5899;
}
.label-closed
{
  background: #4a5899;
  color: #fff;
  border: 1px solid #4a5899;
}

.panel-heading h4
{
  margin: 0;
}
.userpanel label
{
  font-weight: 400;
  width: 150px;;
}




/* for loading.hbs animations*/

.windows8 {
	position: relative;
	width: 46px;
	height:46px;
	margin:auto;
  margin-top: 20%;
  margin-left: 43%;
}

.windows8 .wBall {
	position: absolute;
	width: 44px;
	height: 44px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: #4a5899;
	left:0px;
	top:0px;
	border-radius: 6px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.ui.menu .item
{
  padding: 1.5em 1.14285714em;
  font-weight: bolder;
}
.ember-light-table .lt-row:not(.is-selected):hover
{

    background-color: #ddd !important;
}
.ui.blue.button
{
  background: #28adcc !important;
}
.newh
{
  text-transform: uppercase !important;
  letter-spacing: 4px;
  color: #597829 !important;
  font-weight: 900;
}
/* end for loading.hbs animations */
.t-media .table > tbody > tr > td
{
  padding: 4px;
}
.t-media .table > tbody > tr > td button
{
  margin-top: 4px;
}
.examss > tbody > tr > td input
{
    border-radius:3px ;
    border: 1px solid #4a5899;
    padding-left: 5px;
    width: 100px;
}
.btn-block
{
  width: 80%;
  margin: auto;
}
.btn-default1 {
    color: #4a5899;
    background-color: #fff;
    border-color: transparent;
}
.btn-default1:active, .btn-default1.active
{
  border-color: #4a5899;

}
.bgset img
{
  width: 100%;
  height: 100px;
  border-radius: 3px;

}
.bgset button
{
position: absolute;
bottom: 0;
}
.bgim
{
  margin: 10px 0px;
  border-radius: 3px;

}
.tmselect div
{
  width: 50px;
  float: left;
  margin: 0 1%;

}

.tmselect select
{
  float: left;
      width: 50px;
      background: transparent;
      border: 1px solid #4a5899;
      border-radius: 4px;
      padding: 4px;
    }
.flselect .selectize-control.single .selectize-input, .selectize-dropdown.single
{
  padding: 4px;
}
.slick-track
{
  height: 550px;
}
.bgslider
{
  position: relative;
  height: 550px;
  ;
}
.qslider
{
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0px;
  color: blanchedalmond;
  text-shadow: 2px 2px 15px #000;
  color: #fff;
  margin-left: -15px;;
  font-size: 18px;
  }

  .bgslider img
  {
   display: block;
   height: 550px;
  }
.qslider .slick-dotted.slick-slider
{
  height: 30px;

}
.login .bll
{
  position: absolute;
      width: 100%;
      text-align: center;
      height: 25px;
      bottom: 0;
      color: rgba(255,255,255,0.6);
      font-size: 12px;
      margin-left: -20px;
}
.llogo
{
  width: 250px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 35px;
}
.reglink
{
  font-weight: lighter;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.reglink:hover
{
  color: #eee;
}
.login form
{
  margin-bottom: 10px;
}
.btn-icon
{
  padding: 3px;
  font-size: 12px;
  margin-top: 21px;
  width: 23px;
  height: 23px;
}
.mr10
{
  margin-right: 10px;
}
.gback
{
      width: 40px;
      height: 33px;
      float: left;
      padding: 4px 0px 0px 10px;
      font-size: 23px;
      transition: 0.3s;
      cursor: pointer;
      margin: 10px;
      border-right: 1px solid #ccc;
      margin-left: 0px;
      margin-top: 15px;
}
.gback:hover
{
  padding: 4px 0px 0px 7px;
  text-align: left;
  transition: 0.3s;
  color: #4a5899;

}
@media only screen and (max-width : 768px) {
  .app
  {
    height: 100vh;
    margin: 0px 100px;
  }
  .login{
  }
}

@media only screen and (max-width : 600px) {
  .app
  {
    height: 100vh;
    margin:  0 ;
  }
  .login{
  }
}
.clock-container *
{

}
.clock-container {
  position: relative;
      margin: auto;
      display: block;
      width: 340px;
      height: 350px;
      box-sizing: border-box;


}
@keyframes window-2 {
    0% {
        background-color: rgba(255,255,255, 0.2);
        top: 30%;
        left: -500px;
    }
    100% {
        background-color: rgba(255,255,255, 0.2);
        top: 30%;
        left: -200px;
    }
}

@keyframes window-1 {
    0% {
        background-color: rgba(255,255,255, 0.2);
        top: -250px;
        left: -500px;
    }
    100% {
        background-color: rgba(255,255,255, 0.2);
        top: -250px;
        left: -200px;
    }
}


.clockbase {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgb(101, 113, 168) 25px;
    background-color: rgb(252, 255, 243);
    position: relative;
    top: 24px;
    left: 18px;

}

.clockbase-design {
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 50% 50%;
    border: dotted rgb(216,236,223) 4.6px;
    top: 51px;
    left: 45px;
    z-index: 2px;
    transform: rotate(18.8deg)
}

.tip {
    width: 5px;
    height: 252px;
    position: absolute;
    top: 49px;
    left: 164.5px;
    border-top: solid rgb(101, 113, 168) 20px;
    border-bottom: solid rgb(101, 113, 168) 20px;
}
.tip:after {
    content: "";
    width: 260px;
    height: 5px;
    position: absolute;
    top: 103px;
    left: -125px;
    border-left: solid rgb(101, 113, 168) 20px;
    border-right: solid rgb(101, 113, 168) 20px;
}

.hours {
    position: absolute;
    width: 8px;
    height: 50px;
    background-color: rgb(169,211,247);
    top: 123.5px;
    left: 162px;
    transform-origin: center bottom
}
.minutes {
    position: absolute;
    width: 5px;
    height: 80px;
    background-color: rgb(169,211,247);
    top: 95px;
    left: 164.2px;
    transform-origin: center bottom;
    transform: rotate(60deg);
}
.seconds {
    position: absolute;
    width: 3px;
    height: 110px;
    background-color: #8bc34a;
    top: 64px;
    left: 164.5px;
    transform-origin: center bottom;
    transform: rotate(45deg);
}
.center {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color:  rgb(74, 88, 153);
    position: absolute;
    top: 168px;
    left: 160px;
    margin-left: -1px;
}
.dimension {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgb(216,236,223) 25px;
    background-color: rgb(252, 255, 243);
    top: 40px;
    left: 40px;
    position: absolute;
    z-index: -1;
}
.drop-shadow {
     width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgba(169,211,247, .9) 25px;
    background-color: rgb(169,211,247);
    top: 60px;
    left: 60px;
    position: absolute;
    z-index: -2;
}
.lighing {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: rgb(239,247,212);
    top: 20px;
    z-index: -2;
}
.brr0
{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.brl0
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.well
{
  border: 2px solid #8bc34a;

  border-bottom: 10px solid #8bc34a;
  background: #fff;
}

.btn-ddown
{
  color: #fff!important;

}
.btn-ddown:hover
{
  background-color: #449d44 !important;
    border-color: #398439;

}
.ddown .dropdown-menu
{
  padding: 0px 0px;
  left: auto;
  right: 0;
}
.cmsn{
      font-size: 200px;
      color: rgba(101,113,168,0.7);
      text-align: center;
      font-weight: lighter;
      display: block;
      margin-top: 75px;
}
.cmsnh
{
  text-align: center;
  color: rgba(101,113,168,0.7);
}
.ago
{
  font-size: 11px;
}
.t-ticket hr
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.reply
{
  background: rgba(63, 81, 181, 0.18);
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin: 10px 0px;
}
.reply hr
{
  margin-bottom: 5px;
  margin-top: 0px;
  border-top: 1px solid #fff;
}
.btn-reply
{
  border: none;
  font-size: 11px;
  color: #111;
  background: transparent;
}
.sset h2
{
  text-shadow: 0px 0px 3px #000;
color: #fff;
margin: 0px;
}
.sset .ssh
{
  position: absolute;
  display: block;
  bottom: 0;
  padding: 5px 15px;
  background: rgba(187, 187, 187, 0.32);
      width: 100%;
      margin-left: -15px;
      margin-right: -15px;
      border-top: 1px solid rgba(187, 187, 187, 0.55);
}
.well .ssh
{

  padding: 5px 15px;
  background: rgba(139, 195, 74, 0.24);
  border-top: 1px solid rgba(139, 195, 74, 0.42);
}
.onoffswitch {
    position: relative; width: 100px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid transparent; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;font-weight: 400;
    background-color: #8BC34A; color: #FFFFFF;
    text-align: left;letter-spacing: 1px
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
    font-weight: 400;letter-spacing: 1px
}
#amplifier .onoffswitch-inner:before {
    content: "ON" !important;
    padding-left: 10px;font-weight: 400;
    background-color: #8BC34A; color: #FFFFFF;
    text-align: left;letter-spacing: 1px
}
#amplifier .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
    font-weight: 400;letter-spacing: 1px
}
.onoffswitch-switch {
    display: block; width: 22px;width: 22px;margin: 6px;
    background: #fff;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 2px solid #4A5899; border-radius: 20px;font-weight: 100;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.devicestatus
{
  border-radius: 0px;
  background:rgba(101, 113, 168, 0.3);
  padding: 10px;
  width: 180px;
  text-align: center;
  display: block;
    margin: auto;
    margin-bottom: 15px;
}
.devicestatus h3
{
  font-size: 20px;
font-weight: 400;
margin-top: 0px;
text-align: center;
padding-bottom: 6px;
border-bottom: 2px solid #fff;
}
.devicestatus h4
{
  font-size: 18px;
font-weight: 300;
margin-top: 0px;
text-align: center;
padding-bottom: 6px;
border-bottom: 2px solid #fff;
}
.devicestatus h2
{
  font-weight: lighter;
  margin: 10px;
  color: #fff;
}
.welcome
{
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  // border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 35px;;
  padding-right: 35px;;
  
}
  .devicestatus .table > tbody > tr > td {
      border-top: 1px solid rgba(74, 88, 153, 0.12);
      color: #fff;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
}
.btn-upload1
{   cursor: pointer;

  position: relative;
  width: 100px;
  padding: 2px 0px 0px 0px;
  margin-bottom: 10px;
}
.btn-upload .uploadprofile
{
  height: 23px;
  cursor: pointer;

}
svg.clock-face
{
  width: 100%;
  height: 300px;
  z-index: 101;
position: relative;
margin-top: -10px;
}
svg.clock-face > circle.face {
    stroke-width:2px;
    stroke: #4a5899;
    fill:rgba(255,235,59,0.11)
  }

  svg.clock-face .hour-hand, svg.clock-face .minute-hand {
      stroke-width: 2px;
      stroke: #4a5899;
  }
  .dbl
  {
    position: absolute;
    width: 42%;
  }
.dblock
{
  color: #4a5899;
  font-size: 27px;
  font-weight: 100;
  text-align: left;

  border-bottom: 1px solid #4a5899;

}
.bhh{
  font-size: 60px;
  float: left;
}
.tss
{
    float: left;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 5px;
}
.ts2
{

    float: left;
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 5px;
}

.tsd
{
  height: 1px;
  background:#4a5899;
  width: 100%;
}
.cwrap
{
  height: 288px;
width: 288px;
display: block;
position: relative;
float: right;
margin-top: 10px;
margin-right: 7px;


}

.cli
{
  position: absolute;
  width: 96%;
  height: 96%;
  background: url(d2.png);
  background-size: contain;
  border-radius: 50%;
  border: 1px solid;
  left: 2%;
  top: 1%;
  overflow: hidden;

}
.db1
{
border-bottom: 1px solid #4a5899;
border-top: 1px solid #4a5899;
  height: 308px;
  width: 540px;
  border-bottom-right-radius: 158px;
  border-top-right-radius: 158px;
  border-left: 20px solid transparent;
  background: url(bg.png);
  background-size: cover;
  // background-position-y: -100px;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  float: left;
}
.db1::before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,6571a8+100&0+0,1+100 */
  background: -moz-linear-gradient(left,  rgba(125,185,232,0) 0%, rgba(101,113,168,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(125,185,232,0) 0%,rgba(101,113,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(101,113,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#6571a8',GradientType=1 ); /* IE6-9 */

}
.db2
{
  border: 1px solid #4a5899;
  height: 328px;
  border-bottom-right-radius: 158px;
  border-top-right-radius: 158px;
  border-left: 20px solid transparent;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  width: 520px;
  top: -10px;
  left: 50px;
}
.db3
{
  float: left;
  border: 1px solid #4a5899;
  height: 308px;
  width: 520px;
  margin-left: -90px;
      border-right: 125px solid transparent;
      background: -moz-linear-gradient(right,  rgba(125,185,232,0) 0%, rgba(101,113,168,0.59) 100%); /* FF3.6-15 */

      background: -webkit-linear-gradient(right,  rgba(125,185,232,0) 0%,rgba(101,113,168,0.59) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, rgba(125, 185, 232, 0) 0%, rgba(101, 113, 168, 0.59) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#6571a8',GradientType=1 ); /* IE6-9 */
      background-repeat: no-repeat;
}
.db3a
{
  height: 100%;
  float: left;
}
.db3b
{
  height: 100%;
  float: left;
  padding:  15px;
  position: relative;

}
.dates
{
  width: 210px ;
  height: 100%;
  // border: 1px solid #4a5899;
  border-radius: 5px;
  position: absolute;
  top: 0;
  // margin-top: 15px;
  padding: 10px;

}

.dates .ddate
{
  display: block;
  height: calc(100%/7);
  // border-bottom: 1px solid #4a5899;
  font-weight: 300;
  text-transform: uppercase;
}
.datedd{
  width: 30px;
  height: 20px;
  float: left;
  font-size: 15px;
  // padding: 6px 5px;
  text-align: center;
  background: #333;
}
.datemm
{
  width: 30px;;
  height :13pxx;
  position: absolute;
  bottom: 0;
  left: 0;;
  text-align: center;
  line-height: 13px;  
  background: #000;
}
.ddate span
{
  font-size: 12px;
}

.dd1
{
  width: 35px;
    height: 35px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    float: left;
    margin-top: 2px;
    border:1px solid #4a5899;
    border-radius: 3px;
    position: relative;
    color: #4a5899;
    background: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px


}
.dd1 h3
{
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}
.dd1 p
{
  line-height: 13px;
}

.dd2
{
  font-size: 12px;
  /* padding-top: 7px; */
  height: 35px;
  line-height: 35px;
  margin-top: 2px;
  float: left;

}
.dd2no{
  width: 20px;
  height: 20px;
  border: 1px solid #4A5899;
  border-radius: 50%;
  float: left;
  line-height: 18px;
  text-align: center;
  margin-top: 8px;;
  margin-right: 5px;
  position: relative;
  background: #FFF;
}
.dd2no::before
{
position: absolute;
CONTENT:"";
height: 1px;
background: #4a5899;
width: 50px;
width: 8px;
    top: calc(50% );
    left: -8px;
}
.dd2sn
{
  min-width:75px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #4A5899;
  border-radius: 10px;
  margin-top: 8px;;
  margin-right: 5px;
  background: #fff;
  float: left;
  padding: 0px 10px;
  position: relative;
  
}
.dd2sn::before
{
position: absolute;
CONTENT:"";
height: 1px;
background: #4a5899;
width: 50px;
width: 7px;
    top: calc(50% );
    left: -7px;
}
.dd3
{
  float: left;
  height: 100%;
  background: #4a5899;
  height: 35px;
  margin-top: 2px;
  max-width: 15px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  padding: 3px 4px 0px 3px;
  // border-top-right-radius: 5px;
  // border-bottom-right-radius: 5px;
  word-wrap: break-word;
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
  
  

}
.labeltd
{
  font-size: 12px !important;
      text-shadow: none;
      background: rgba(76, 74, 153, 0.82);
      padding-top: 4px;

    }

.ts3
{
    float: left;
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}
.tip
{

    width: 6px;
    height: 281px;
    position: absolute;
    top: 0;
    left: 50%;
    border-top: solid #4a5899 20px;
    border-bottom: solid #4a5899 20px;
    margin-left: -3px;
    z-index: 103;
}
.tip:after {
    content: "";
    width: 281px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: -138px;
    border-left: solid #4a5899 20px;
    border-right: solid #4a5899 20px;
    margin-top: -3px;
}
.tip2
{
    transform: rotate(30deg);
  }

.tip3
{

    transform: rotate(60deg);
  }

.cdots
{
  position: absolute;
  width: 255px;
  height: 255px;
  border: 7px dotted #b3d8f6;
  border-radius: 50%;
  top: 8px;
  margin: 14px;
  left: 2px;
}
.center1
{
  width: 15px;
height: 15px;
border-radius: 100%;
background-color: rgb(255, 85, 85);
position: absolute;
top: 50%;
left: 50%;
margin-left: -7px;
margin-top: -12px;
z-index: 105;
}
.dstatus
{
  position: absolute;
  width: 150px;
  height: 35px;
  border-radius: 25px;
  top: 55%;
  z-index: 100;
  right: -5%;
  border: 2px solid #4a5899;
  padding: 6px;
    color: #fff;
    letter-spacing: 2px;

}
.dconnecting
{
  background: rgba(190, 224, 1, 0.78);
  box-shadow: -3px 0px 7px 0px #dee0ed;

}
.doffline
{
  background: rgba(244, 54, 54, 0.71);
  box-shadow: -3px 0px 7px 0px #000;
}
.doffline::after
{
  content: "OFFLINE";
  position: absolute;
  width: 100%;
  height: 100%;

}
.donline
{
  background: rgba(118, 195, 74, 0.78);
  box-shadow: -3px 0px 7px 0px #dee0ed;

}
.donline::after
{
  content: "ONLINE";
  position: absolute;
  width: 100%;
  height: 100%;

}
.dstatus.connected
{
  background: rgba(118, 195, 74, 0.78);
  // position: relative;
  
}
.dstatus.connected:after
{
  content: "ONLINE";
  position: absolute;
  width: 100%;
  height: 100%;
}


// .spanon, .spanof
// {
//   display: none;
// }
// .dconnecting .spanon
// {
//   display: block;
// }
// .donline .spanon
// {
//   display: block;
// }
// .doffline .spanof
// {
//   display: block;

// }
svg.clock-face .hour-hand, svg.clock-face .minute-hand {
    stroke-width: 2px;
    stroke: #a9d3f7;
}

.amplifier {
    border-radius: 0px;
    background: rgba(101, 113, 168, 0.3);
    padding: 10px;
    width: 192px;
    text-align: center;
    display: block;
    margin-top: 15px;
    padding-left: 100px;
    border-radius: 5px;
    padding-right: 32px;
    color: #fff;
    box-shadow: 0px 0px 20px #4a5899;
  }
  .amplifier h4{
    font-size: 15px;
}
.btnsync
{
  text-align: center;
  padding-right: 10px;
  border: none;
  font-size: 25px;

}
.btnsync span
{

  font-size: 25px;

}
.btnsync:hover
{
  background: #849bcd;
  color: #fff;
}
.panel-heading h4 {
  font-weight: 400;
  padding: 5px 0px;
  }
  .npayment
  {
    margin: 0;

  }
.npayment > tbody > tr > td
{
  border: 0;
}
.npayment > tbody > tr > td p
{
  padding-top: 5px;
}
.sline
{
  background: #6571a8;
  height: 2px;
  padding: 0px 0px 0px 50px;
  display: block;
  position: relative;
  margin: 15px 0px 30px;

}
.sdot
{
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #6571a8;
  margin-top: -10px;
position: absolute;
text-align: center;
padding-top: 2px;
  color: #4a5899;

}
.scon
{
  position: relative;
  float: left;
  display: inline-block;
  margin-top: 0px;
  height: 2px;

}
.scon .stime
{
  width: 40px;
position: absolute;
top: 10px;
margin-left: -10px;
text-align: center;
transform: rotate(-45deg);
transform-origin: 15px 34px;
}

.scon.s-true
{
  background-image:
    repeating-linear-gradient(
      -45deg,
      #6571a8,
      #6571a8 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move 1s linear infinite;
}

// .scon.s-true .sdot
// {
//   border-left-color: #eee;
//   border-right-color: #eee;
//
//   animation: rotate 1s infinite linear;
//
// }
// @keyframes rotate {
//   0%    { transform: rotate(0deg); }
//   100%  { transform: rotate(360deg); }
// }
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
a.tooltips {

}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  margin-left: -70px;


}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;


}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  z-index: 9999;
  transform: translateY(-5px);
transition: 300ms;

}
.snext .sdot
{
  width: 25px;
  height: 25px;
  margin-top: -12px;
  color: #4a5899;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Start of For ember power calendar */


.ember-power-calendar {
    color: #656D78;
    background-color: #F5F7FA;
  }

.ember-power-calendar {
  box-sizing: border-box;
  position: relative;
}

.ember-power-calendar-nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.ember-power-calendar-nav * {
  box-sizing: border-box;
}

.ember-power-calendar-days, .ember-power-calendar-days * {
  box-sizing: border-box;
}

.ember-power-calendar-nav-title {
  flex: 1;
  text-align: center;
}

.ember-power-calendar-row {
  display: flex;
  justify-content: space-between;
}
.ember-power-calendar-weekday {
  -webkit-appearance: none;
  flex: 1 1 100%;
  padding: 0;
  background-color: transparent;
  background-color: initial;
  border: none;
  border: initial;
  outline: none;
  outline: initial;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0;
}
.ember-power-calendar-day {
  -webkit-appearance: none;
  background-color: transparent;
  background-color: initial;
  border: none;
  border: initial;
  outline: none;
  outline: initial;
  flex: 1 1 100%;
  font-size: inherit;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.ember-power-calendar-nav-control {
  -webkit-appearance: none;
  background-color: transparent;
  background-color: initial;
  border: none;
  border: initial;
  outline: none;
  outline: initial;
  font-size: inherit;
}

// Theme styles
.ember-power-calendar {
  font-size: 14px;
  line-height: 1.42857;
}
.ember-power-calendar-nav {
  line-height: 2;
}
.ember-power-calendar-nav-control {
  line-height: 1;
  font-size: 150%;
  &:focus {
    transform: scale(1.2);
  }
}
.ember-power-calendar-day--selected,
.ember-power-calendar-day--selected:not([disabled]):hover {
  font-weight: bold;
}

.ember-power-calendar-day--interactive[disabled] {
  opacity: 0.4;
}

@mixin ember-power-calendar(
  $cell-size: null,
  $cell-width: $cell-size,
  $cell-height: $cell-size,
  $cell-with-spacing-width: $cell-width + 2px,
  $row-padding-top: 0,
  $row-padding-bottom: 0,
  $row-padding-left: 0,
  $row-padding-right: 0,
  $row-width: $cell-with-spacing-width * 7 - 2px + $row-padding-left + $row-padding-right,
  $primary-color: #0078c9,
  $nav-button-color: $primary-color,
  $nav-button-color--focus: lighten($nav-button-color, 10%),
  $day-default-text-color: #bbb,
  $day-current-month-color: #F5F7FA,
  $day-weekday-text-color: #333333,
  $day-current-month-text-color: #656D78,
  $day-other-month-text-color--hover: $day-current-month-text-color,
  $day-focus-shadow-color: $primary-color,
  $day-today-color: #eee,
  $day-color--hover: #eee,
  $day-range-bookend-color: lighten($primary-color, 40%),
  $day-range-start-background-color: $day-range-bookend-color,
  $day-range-start-background-color--hover: $day-range-start-background-color,
  $day-range-end-background-color: $day-range-bookend-color,
  $day-range-end-background-color--hover: $day-range-end-background-color,
  $day-selected-color: lighten($primary-color, 50%),
  $day-selected-color--hover: $day-selected-color,
  $day-selected-text-color: #656D78,
  $day-selected-text-color--hover: $day-selected-text-color
) {

  width: $row-width;
  .ember-power-calendar-week:first-child {
    &[data-missing-days="1"] {
      padding-left: $cell-with-spacing-width * 1;
    }
    &[data-missing-days="2"] {
      padding-left: $cell-with-spacing-width * 2;
    }
    &[data-missing-days="3"] {
      padding-left: $cell-with-spacing-width * 3;
    }
    &[data-missing-days="4"] {
      padding-left: $cell-with-spacing-width * 4;
    }
    &[data-missing-days="5"] {
      padding-left: $cell-with-spacing-width * 5;
    }
    &[data-missing-days="6"] {
      padding-left: $cell-with-spacing-width * 6;
    }
  }
  .ember-power-calendar-week:last-child {
    &[data-missing-days="1"] {
      padding-right: $cell-with-spacing-width * 1;
    }
    &[data-missing-days="2"] {
      padding-right: $cell-with-spacing-width * 2;
    }
    &[data-missing-days="3"] {
      padding-right: $cell-with-spacing-width * 3;
    }
    &[data-missing-days="4"] {
      padding-right: $cell-with-spacing-width * 4;
    }
    &[data-missing-days="5"] {
      padding-right: $cell-with-spacing-width * 5;
    }
    &[data-missing-days="6"] {
      padding-right: $cell-with-spacing-width * 6;
    }
  }
  .ember-power-calendar-day, .ember-power-calendar-weekday {
    max-width: $cell-width;
    max-height: $cell-height;
    width: $cell-width;
    height: $cell-height;
  }
  .ember-power-calendar-weekdays, .ember-power-calendar-week {
    height: $cell-height + 2px;
    padding-left: $row-padding-left;
    padding-right: $row-padding-right;
  }
  .ember-power-calendar-day {
    color: $day-default-text-color;
  }
  .ember-power-calendar-weekdays {
    color: $day-weekday-text-color;
  }
  .ember-power-calendar-nav-control {
    color: $nav-button-color;
    &:focus {
      color: lighten($nav-button-color--focus, 10%);
    }
  }
  .ember-power-calendar-day--current-month {
    color: $day-current-month-text-color;
    background-color: $day-current-month-color;
  }
  .ember-power-calendar-day--today {
    background-color: $day-today-color;
  }
  .ember-power-calendar-day:not([disabled]):hover {
    background-color: $day-color--hover;
  }
  .ember-power-calendar-day--focused {
    box-shadow: inset 0px -2px 0px 0px $day-focus-shadow-color;
  }
  .ember-power-calendar-day--selected.ember-power-calendar-day--range-start {
    background-color: $day-range-start-background-color;
    &:hover {
      background-color: $day-range-start-background-color--hover;
    }
  }
  .ember-power-calendar-day--selected.ember-power-calendar-day--range-end {
    background-color: $day-range-end-background-color;
    &:hover {
      background-color: $day-range-end-background-color--hover;
    }
  }
  .ember-power-calendar-day--selected {
    background-color: $day-selected-color;
    color: $day-selected-text-color;
  }
  .ember-power-calendar-day--selected:not([disabled]):hover {
    background-color: $day-selected-color--hover;
    color: $day-selected-text-color--hover;
  }

  .ember-power-calendar-day--other-month:not([disabled]):hover {
    color: $day-other-month-text-color--hover;
  }
}
.btnmute
{
  width: 100%;
  height: 100%;
  text-align:center; ;
  padding-left: 100px;
  border: none;
  background: #b1b7d3;
  padding-top: 15px;
}
.btnmute:hover
{
  background: #849bcd;

}
.btnmute:active

{
  background: #822bcd;

}

.btnmute span
{
  margin: auto;
  display: block;
  font-size: 30px;
}
.sidebar img
{
  width: 130px;
  margin: 15px 0px 0px 15px;
}
.opamp
{
  width: 50px;
  margin-left: 12px;
}
.scheduletabs
{
  padding: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #4a5899;
}
.btn-tab
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px 20px;
  color: #4a5899;
  font-size: 15px;
}
.btn-tab.active
{
  border: 1px solid #4a5899;
  border-bottom-color: #fff;
}
.schedule{
  padding-top: 20px;
}




.table .selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 3px 0 3px !important;
    border-color: #555555 transparent transparent transparent;
  }
// .sidebar
// {
//   box-shadow: 0px 0px 30px rgba(0,0,0,0.5)
//
// }
// .rightpanetitle {
//     position: relative;
//     padding-left: 30px;
//     padding-right: 15px;
//     margin-right: -15px;
//     margin-left: -15px;
//     background: rgba(74, 88, 153, 0.26);
//         box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
//         z-index: 1000;
//   }
//   .rightpanetitle h1{
//     border: 0;
//     margin-bottom: 10px;
// }


.mediawrap
{
  background: #4a5899;
  // border-radius: 5px;
  position: relative;
  border: 1px solid #4a5899;
  margin-bottom: 15px;;
  height: 59px;
;
}
.media-inactive
{
  border: 1px solid #999;
  background: #999;
  
}
.mediawrap audio
{
  width:100%;;
  position: absolute;
  bottom: 0;
}
.mdelete{
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 6px;
  width: 35px;
  height: 26px;
  border-radius: 0px;
  background: #4a5899;
  color: #fff;
  border-left: 1px solid rgb(148, 147, 147);

}
.mdelete span
{
  text-align: center;

}
.mediawrap h4{
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
}
.t-media .tab-content{
border: 0;
}
// .t-media .nav-tabs > li > a
// {
//   border-color: #4a5899;
//   border-bottom-color: transparent;
// }
.carousel-navigation-buttons
{
  display: none !important;
}
.uinfo
{
  position: relative;
  width: 200px;
  float: right;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border: 1px solid transparent;
  transition: 100ms;
  
  

}
.uinfo h4
{
  z-index: 101;
  height: 30px;
  background: #fff;
  position: relative;
  padding: 5px 15px;

}

.uinfo:hover
{
  border: 1px solid #4A5899;
  border-bottom: 1px solid transparent;
  
  transition: 100ms;
  
}

.uinfo span
{
  text-align: right;

}
.uinfo-down
{
  position: absolute;
  top:35px;
  left: 0;;
  height: 0px;
  width: calc(100% + 2px);
  text-align: right;
  overflow: hidden;
  background: rgba(239, 239, 245, 0.911);
  z-index: 100;
  transition: 0.1s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid transparent;
  margin: 0px -1px;
  margin-top: -2px;;
  
}
.uinfo:hover .uinfo-down
{
  height: 100px;
  transition: 0.1s;
  border: 1px solid #4A5899;
  border-top: 1px solid transparent;


} 

.uinfoin
{
  padding: 10px 15px;

}
.ttrow
{
  margin: 10px 0px;
  min-height: 30px;
}
.ttrow .td
{
  float: left;
  height: 30px;;
  width: 100px;
  padding: 5px 7px;
  font-weight: 300;
  position: relative;
  
}
.rowedit .td{
  padding: 0px 7px;
  
}
.th .td{
  font-weight: 600;
  
}

.ttrow .td_index
{
  width: 30px;
  background:  rgb(197, 196, 196);;
  padding-left: 0px;
  padding-top: 7px;;
  text-align: center;
}
.ttrow .td_name
{
  width: calc(100% - 580px);
  background: #fcfcfc;

}
.ttrow .td_time
{
  width: 130px;
  background: #eee;

}

.ttrow .td_file
{
  background: rgba(74, 89, 153, 0.226);
  width: 200px;
  margin-right: 10px;
  padding: 0;
}
.th .td_file
{
  padding: 5px 7px;
  
}
.th .td_actions
{
  width: 210px;
  background: #eeeeee;  
}
.ttrow .td_file audio
{
  width: 100%;
  height: 30px;;
}

.ttrow .td_edit
{
  background: #337ab7;
  float: right;
  color: #fff;
  font-size: 13px;
  padding-left: 35px;
padding-top: 5px;  
  
}
.ttrow .td_delete
{
  background: #e72d2d;
  float: right;
  color: #fff;
  padding-left: 35px;
  font-size: 13px;
padding-top: 5px;  
margin-right: 10px;

  
}
.td span
{
  position: absolute;
  width: 30px;
  background: rgba(0,0,0,0.3);
  height: 30px;
  top:0;
  left:0;
  padding-top: 7px;
  text-align: center;
}
a.td:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: rgba(0,0,0,0.0001);

}
a.td:hover::before
{
  background: rgba(0,0,0,0.3);
  
}
.rowedit .tded{

  background: #fff;
}
.rowedit  .tselect
{
  width: 50px;
    height: 30px;
    float: left;
    padding: 0px;
    margin-right: 7px;;
}
.rowedit  .tselect2
{
    height: 30px;
    float: left;
    padding: 0px;
}
.ttrow .td_save
{
  background: #04b361;
  float: right;
  color: #fff;
  font-size: 13px;
  padding-left: 35px;
padding-top: 5px;  
  
}
.ttrow .td_cancel
{
  background: #a19f9f;
  float: right;
  color: #fff;
  padding-left: 35px;
  font-size: 13px;
padding-top: 5px;  
margin-right: 10px;


  
}
.btnqa
{
  width: 200px;
  background: #eee;
  padding: 7px;
  border-left: 3px solid #0078c9;
  font-size: 15px;
  font-weight: 300;
  
}
.btnqa2
{
  width: 200px;
  background: #eee;
  padding: 7px;
  border-left: 3px solid #0078c9;
  margin-right: 5px;;
  font-size: 15px;
  font-weight: 300;
  
}


.ui2board
{
  background: #eee;
  padding: 15px 0px;
}
.ui2ip
{
  // border-radius: 0px;
  // border: 0px;;
}
.ui2sel
{
  width: 47%;
  float: left;
} 
.ui2recbtn 
{
  width: calc(46% - 3px );
  float: left;
  height: 34px;
  position: absolute;
  padding-left: 46px;
  font-size:15px;
  text-align:left;
  background:#eb2226;
  color: #fff;
  

}
.ui2recbtn span

{
  position: absolute;
  width: 34px;
  background: rgb(152, 159, 195);
  height: 32px;
  top:0;
  left:0;
  padding-top: 6px;
  text-align: center;
  font-size: 20px;
}
.ui2orspan
{
  float: left;
  width: 6%;
  text-align: center;
  padding: 8px;
  color: #555;
}
.ui2helper
{ 
  padding: 0px 15px;
  font-weight: 400;;
}
.ui2iptime
{
  width: 20%;
  float: left;
  margin-right: 15px;;
}
.ui2h3
{
  border-bottom: 1px solid #4A5899;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  
}
.ui2btn
{
  border-radius: 0;
  padding: 6px 20px;;
  
}
.dates{
  width: 300px;
}



.sssl
{
  width: 100px;
  text-align: center;
}
.sstime
{
  width: 150px;
}
.editmode {
  padding-bottom: 1px !important;
  padding-top: 4px !important;
  
}
.ssfile
{
  width: 200px;
}
.sszones
{
  width: 230px;
}
.sstitle
{
  width: calc( 100% - 780px);
  
}
.ssactions
{
  width: 100px;
  
}
.zone
{
    /* width: 20px; */
    height: 20px;
    background: #398439;
    float: left;
    text-align: center;
    padding-top: 5px;
    margin: 0px 5px;
    border: none;
}

.quickannc
{
  height: 110px;
  // border: 2px solid #04b361;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  // background: url(bg.png);
  background-size: cover;
  // background-position: -175px;
  border: 2px solid #7d8399;
  border-bottom: 10px solid #7d8399;
  background: linear-gradient(to right, transparent,#4a59999f);
  background: rgba(74, 89, 153, 0.466);

}
.quickannc audio
{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.qtime
{

  position: absolute;
  width: 40%;
  height: 60px;
  background-size: 252px;
  background-position: -105px;
  background: rgba(0, 0, 0, 0.255);
  padding: 13px 10px;
  padding-top: 25px;;
  font-size: 26px;
  color: #fff;
  left: 3px;
  top: 3px;
  border-radius: 3px;
  z-index: 100;

}
.qtime .qdate{
  position: absolute;
  font-size: 14px;
  top: 10px;
  left: 8px;;
}
.qtime span
{
  font-size: 15px;
  // vertical-align: middle;
}


.qdata
{
  position: absolute;
  width: 100%;
  height: 73px;
  right: 0px;
  font-weight: 300;
  color: #fff;
  // background:rgba(38, 41, 38, 0.37);
  padding-left: 42%;
  

}
.qdata h4{
  font-weight: 300;
  font-size: 16px;
  border-bottom: 1px solid #4a5899;
  padding-bottom: 5px;
  margin-bottom: 7px;;
}
.qdata p
{
  margin-top: 5px;
}
.qactions
{
  width: 40px;
  position: absolute;
  height: 70px;
  right: 0;
  // background: linear-gradient(to right, transparent, rgba(16, 15, 15, 0.41));
  padding: 5px 12px;
}
.qactions .btn
{
  margin-bottom: 10px;
}
.sadas:hover .dothover
{
  height: 100px;
  transition: 0.1s;
  overflow: visible;
  
}
.dothover
{
  // position: absolute;
  // width: 150px;
  // // background: linear-gradient(135deg,#ffffff, #6571a8, #ffffff);
  // height: 0px;
  // margin-left: -52px;
  // bottom: 10px;
  // z-index: 100;
  // transition: 0.1s;
  // overflow-y: hidden;
  // overflow-x: visible;
  // // transform: rotate(45deg);
  // background: url(bg6.png);
  // background-position: bottom center;
  // background-size: 150px;
  // background-repeat: no-repeat;

  position: absolute;
  width: 150px;
  height: 0px;
  margin-left: 7px;
  bottom: 17px;
  z-index: 100;
  transition: 0.1s;
  overflow-y: hidden;
  overflow-x:visible;
  /* background: #ccc; */
  background-position: bottom center;
  background-size: 150px;
  background-repeat: no-repeat;
  border-left: 1px Solid #6571a8;


}
// .dothover::before
// {
//   position: absolute;
//   content: "";
//   width: 100%;
//   height: 100%;;
//   border: 2px solid #4A5899;
//   left: 0;
//   border-top: 80px solid transparent;
//   border-bottom: none;
//   // transform: rotate(-30deg);


// }
.snext .dothover
{
 
  left: 3px;
  
}
.sadas .dotin
{
  z-index: 110;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: -1px;
  padding-top: 2px;
}
.dothoverin
{
padding: 5px 10px;
text-align: left;
margin-left: -5px;

  p
  {
    position: relative;
    margin: 1px;
    margin-bottom: 4px;;
    padding-left: 3px;
    font-weight: 300;
  }
  p:after
  {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #4A5899;
    left: -9px;
    top: 7px;
    }
  
}
.qnew
{
  padding: 25px;
  font-size: 28px;
  color: rgb(122, 122, 122);
}
.qplus
{
  font-size: 40px;
  text-align: center;
  color: rgb(136, 136, 136);
  float: left;
  margin: 4px 10px;
  
}
.qnew h3{
  margin-top: 14px;
  padding-left: 65px;
  font-size: 22PX;
  text-align: left;
}

.dbwrap
{
  width: 1000px;
  padding:0px 15px;
  // margin: 10px auto;
  position: relative;
  overflow: hidden;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
.scon .sname {
  width: 140px;
  position: absolute;
  top: -9px;
  margin-left: 50%;
  text-align: center;
  transform: rotate(-45deg);
  transform-origin: 15px 34px;
}
// .vertical-tl
// {
//   width: 100px;
//   background: #0078c9;
//   height: 50px;
//   transform: rotate(90deg);
//   transform-origin: 0% 0%;
// }
// .tlwrap
// {
//   width: 100%;
//   overflow: auto;
//   position: relative;
//   height: 100px;;
// }
.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 16px;
  right: 5px;
  top: 4px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.card
{
  background: #fff;
  border: 1px solid #4a5899;
  border-radius: 4px;
  // height: 300px;;
}
.card h4{
  margin-top: 5px;;
  border-bottom: 1px solid #4a5899;
  padding: 10px;
  padding-bottom: 10px;;

  
  
}
.card-content
{
  padding:10px;
}
.card select
{
  margin: 5px 0px;
}
.trib
{
  text-align: center;
  background: rgba(0, 0, 0, .075);
  padding-bottom: 5px;
}
.trlist
{
  background: #8bc34a;
  // text-align: center;
  color:#fff;
  padding: 0px 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}
.trlist p
{
  padding: 0px 5px;
}
.trlist p span
{
  width:70px;
  display: inline-block;
}
.sset{
  background: #fff;
}
.trlist.done
{
  background: #bbb;
}
.btnfedit
{
  // margin-top: 12px;
  // margin-right: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.hzd
{
  height: 150px;
  padding: 15px 0px;
}
.hzd .ssh
{
  margin: 0;
}
.hzd audio
{
  width: 100%;
  background: #333
}
.hzd img{
  margin-bottom: 10px;;
}
.hzd select
{
  margin: -3px 3px 0px;
  width: 98%;
}
.custom-radio
{
  label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: 300;
  }
  
  /* hide input */
  input.radio:empty {
    margin-left: -999px;
  }
  
  /* style label */
  input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
  }
  
  /* toggle hover */
  input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }
  
  input.radio:hover:not(:checked) ~ label {
    color: #121212;
  }
  
  /* toggle on */
  input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #8bc34a;
  }
  
  input.radio:checked ~ label {
    color: #121212;
  }
  
  /* radio focus */
  input.radio:focus ~ label:before {
    // box-shadow: 0 0 0 3px #999;
  }
}
.badge{

  border-radius: 50%;
  height: 23px;
  width: 23px;
  line-height: 23px;
  padding: 0px;
  
  span{
    margin-left: -1px;
  }
  
}
.badge-success
{
  background: #04b361;
  
}
.badge-danger
{
  background: #eb2226;
}
.stats
{

}
.stat
{
  min-height: 80px;
  // border:1px solid #4A5899;
  border-radius: 4px;
  position: relative;
  padding: 10px 10px;
  background: #eee;
  margin-left: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  .date
  {
    position: absolute;
    top:0px;
    height: 20px;
    // width: 100px;
    left: -60px;
    background: #ddd;
    border-radius: 4px;
    // border:1px solid #4A5899;
    text-transform: uppercase;
    .dd1, .dd3
    {
      margin: 0;
      float: none;
    }
    .dd1
    {
      border-radius: 3px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      width: 50px;
      
    }
    .ddd3
    {
      height: 15px;
      background: #4a5899;
      width: 50px;
      text-align: center;
      color: #fff;
      word-wrap: break-word;
      line-height: 15x;
      font-size: 10px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      letter-spacing: 1px;
    }
  }
  .statsbar
  {
    .progress
    {
      height: 10px;
      background:  rgb(145, 146, 146);
      .progress-bar
      {
        background: #4a5899;
      }
    }
    .head
    {
      
        h3
        {
          font-size: 30px;
          margin: 0;
          span
          {
            font-size: 20px;
          }
        }
        p
        {
          margin: 0;
        }
    }
    .h-right
    {
      float: right;
      color: rgb(145, 146, 146);
      text-align: right;
      
    }
    .h-left
    {
      float: left;
      color: #4A5899;
      
    }
  }
  .statsline
  {
    height: 2px;
    background: #4a5899;
    margin: 50px 0px 0px;
    position: relative;
  }
  .tscale
  {
    position: absolute;
    width: calc(100% - 20px; );
    height: 3px;
    margin-left: 10px;
    div
    {
      float: left;
      width: calc(100% / 25);
      height: 12px;
      margin-top: 0px;
      display: block;
      position: relative;
      text-align: center;    
      font-weight: 300;
    }
    div:after
    {
      position: absolute;
      border-left: 1px solid #4A5899;
      content:"";
      left:calc(50% - 1px);
      height: 12px;
      margin-top: -10px;

      

    }
  }
  .line{
    width: 100px;
    height: 2px;
    float: left;
    position: relative;
    .dot
    {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #4a5899;
     
      right: 0;
      position: absolute;
      top: -3px;
    }
  }
  .line.inactive
  {
    background:  rgb(145, 146, 146);

  }

}