.hideSearch .globalSearch{
  display: none;
}
.ember-content-editable:focus {
      display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
  background: url(asanoha-400px.png);
  height: 100%;
}
.app
{
  position: relative;
  height: 550px;
  font-family: 'Ubuntu', sans-serif ;
  margin-top: 50px;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.26);
  /*border: 10px solid #fff;*/
  background: #fff;
  overflow: hidden;
}
.sidebar
{
  height: 100%;
  background: #4A5899;
  padding: 0px;
  color: #fff;
  width: 20%;
  float: left;
  position: relative;
}
.sidebar p

{
  text-align: center;
bottom: 0;
position: absolute;
width: 100%;
font-size: 11px;
color: #ccc;
}
.sidebar h3 a
{
  color: #fff;
  margin: 15px;
}

a.list-group-item, button.list-group-item
{
  color: #fff;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item
{
  background: transparent;
  border: none;
  margin-bottom: 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: rgba(255,255,255,.15);
    border-color: #337ab7;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(245,245,245,0.1);
}
.rightpane
{
  width: 80%;
  height: 100%;
  overflow: hidden;
}
.profile
{
  padding: 15px;
}
.profile .img
{
  width: 60px;
  background: #fff;
  float: left;
  margin-right: 10px;
}
.profile .img img
{
  width: 100%;
}
.profile a{
  color: #fff;
}
.login
{
    background: #4A5899;
    height: 100%;
    padding: 50px 20px 20px 20px;
    color: #fff;;
    text-align: center;
}
.login h2
{
  font-weight: 200;
}
.slick-slide
{
  text-align: center;
}
h1

{
font-weight: 200;
border-bottom: 1px solid #4a5899;
padding-bottom: 4px;
font-size: 28px;
display: block;
}
.tab-content
{
  padding: 15px;
border: 1px solid #ddd;
border-top: none;
}
.rightpanetitle
{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;


}
.rightpanecon
{
  height: 475px;
overflow-x: auto;
padding-right: 15px;
clear: both;
}
.rightpanecon::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.rightpanecon::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.rightpanecon::-webkit-scrollbar-thumb
{
	background-color: #4a5899;
}
.ssets
{

}
.sset
{
  width: 100%;
  height: 120px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  float: left;
  text-align: center;
  color: #121;
  box-shadow: 0px 0px 15px -5px #4a5899;
  position: relative;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
  border: 2px solid #bbb;
  border-bottom: 10px solid #bbb;


}
.sset .oktick
{
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 21px;
    color: #ff6347;
    background: #fff;
    border-radius: 50%;
}
.sset:hover
{
  box-shadow: 0px 0px 15px -2px #4a5899;
  transition: 0.3s;


}
/*.slick-track
{

  -webkit-filter: blur(5px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
opacity: 0.95;

}*/
.schedule .nav-tabs > li > a
{
  border-radius: 4px;
}
.schedule .tab-content
{
  border: none;
  padding: 15px 0;
}
.schedule .nav-tabs > li.active > a, .schedule .nav-tabs > li.active > a:hover, .schedule .nav-tabs > li.active > a:focus
{
      border: 1px solid #4a5899;
}
.schedule .nav-tabs
{
  border-bottom: none;
}
.schedule .nav > li > a
{
  color: #4a5899;
}
.btn-default {
    color: #4a5899;
    background-color: #fff;
    border-color: #4a5899;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #4a5899;
    background: #fff;
}
.selectize-input
{
padding: 7px 8px;
}
.npl
{
  padding-left: 0!important;
}
.np
{
  padding: 0px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
  border-top: 1px solid rgba(74,88,153,0.3);
}

.profile label
{
  width: 160px;
  font-weight: 200;
}
.profile
{
  font-weight:500;
}
.uploadprofile
{
  opacity: 0;
  height: 45px;;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}
.btn-upload
{
  position: relative;
  width: 200px;
  padding: 5px 0px 0px 0px;
  cursor: pointer;
}
.progress
{
  height: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}
audio, canvas, progress, video
{
  vertical-align: middle;
}
.btn-primary {
    color: #fff;
    background-color: #4a5899;
    border-color: #6571a8;
  }
.btn-primary:hover {
  color: #fff;
  background-color: #6571a8;
  border-color: #4a5899;
}
.ticket {
    display: inline-block;
    border: 3px dotted #4a5899;
    padding: 10px 15px;
    margin: 5px;
    box-shadow: 0px 0px 10px -1px rgba(74,88,153,0.7);
    width: 100px;
    min-height: 66px;
    text-align: center;
    vertical-align: middle;
    color: #6571a8;

  }
.ticket:hover
{
  box-shadow: 0px 0px 12px 0px rgba(74,88,153,0.9);

}
.label-open
{
  background: #fff;
  color: #4a5899;
  border: 1px solid #4a5899;
}
.label-closed
{
  background: #4a5899;
  color: #fff;
  border: 1px solid #4a5899;
}

.panel-heading h4
{
  margin: 0;
}
.userpanel label
{
  font-weight: 400;
  width: 150px;;
}




/* for loading.hbs animations*/

.windows8 {
	position: relative;
	width: 46px;
	height:46px;
	margin:auto;
  margin-top: 20%;
  margin-left: 43%;
}

.windows8 .wBall {
	position: absolute;
	width: 44px;
	height: 44px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: #4a5899;
	left:0px;
	top:0px;
	border-radius: 6px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.ui.menu .item
{
  padding: 1.5em 1.14285714em;
  font-weight: bolder;
}
.ember-light-table .lt-row:not(.is-selected):hover
{

    background-color: #ddd !important;
}
.ui.blue.button
{
  background: #28adcc !important;
}
.newh
{
  text-transform: uppercase !important;
  letter-spacing: 4px;
  color: #597829 !important;
  font-weight: 900;
}
/* end for loading.hbs animations */
.t-media .table > tbody > tr > td
{
  padding: 4px;
}
.t-media .table > tbody > tr > td button
{
  margin-top: 4px;
}
.examss > tbody > tr > td input
{
    border-radius:3px ;
    border: 1px solid #4a5899;
    padding-left: 5px;
    width: 100px;
}
.btn-block
{
  width: 80%;
  margin: auto;
}
.btn-default1 {
    color: #4a5899;
    background-color: #fff;
    border-color: transparent;
}
.btn-default1:active, .btn-default1.active
{
  border-color: #4a5899;

}
.bgset img
{
  width: 100%;
  height: 100px;
  border-radius: 3px;

}
.bgset button
{
position: absolute;
bottom: 0;
}
.bgim
{
  margin: 10px 0px;
  border-radius: 3px;

}
.tmselect div
{
  width: 50px;
  float: left;
  margin: 0 1%;

}

.tmselect select
{
  float: left;
      width: 50px;
      background: transparent;
      border: 1px solid #4a5899;
      border-radius: 4px;
      padding: 4px;
    }
.flselect .selectize-control.single .selectize-input, .selectize-dropdown.single
{
  padding: 4px;
}
.slick-track
{
  height: 550px;
}
.bgslider
{
  position: relative;
}
.qslider
{
  position: absolute;
  width: 100%;
  height: 280px;
  bottom: 0px;
  padding: 30px 80px 60px 35px;
  color: blanchedalmond;
  text-shadow: 2px 2px 15px #000;
  color: #fff;
  }
  .qslider h2
  {
    font-weight: lighter;
  }
.qslider .slick-dotted.slick-slider
{
  height: 30px;

}
.login .bll
{
  position: absolute;
      width: 100%;
      text-align: center;
      height: 25px;
      bottom: 0;
      color: rgba(255,255,255,0.6);
      font-size: 12px;
      margin-left: -20px;
}
.llogo
{
  width: 135px;
    display: block;
    margin: auto;
}
.reglink
{
  font-weight: lighter;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.reglink:hover
{
  color: #eee;
}
.login form
{
  margin-bottom: 10px;
}
.btn-icon
{
  padding: 3px;
  font-size: 12px;
  margin-top: 21px;
  width: 23px;
  height: 23px;
}
.mr10
{
  margin-right: 10px;
}
.gback
{
      width: 40px;
      height: 33px;
      float: left;
      padding: 4px 0px 0px 10px;
      font-size: 23px;
      transition: 0.3s;
      cursor: pointer;
      margin: 10px;
      border-right: 1px solid #ccc;
      margin-left: 0px;
      margin-top: 15px;
}
.gback:hover
{
  padding: 4px 0px 0px 7px;
  text-align: left;
  transition: 0.3s;
  color: #4a5899;

}
@media only screen and (max-width : 768px) {
  .app
  {
    height: 100vh;
    margin: 0px 100px;
  }
  .login{
  }
}

@media only screen and (max-width : 600px) {
  .app
  {
    height: 100vh;
    margin:  0 ;
  }
  .login{
  }
}
.clock-container *
{

}
.clock-container {
  position: relative;
      margin: auto;
      display: block;
      width: 340px;
      height: 350px;
      box-sizing: border-box;


}
@keyframes window-2 {
    0% {
        background-color: rgba(255,255,255, 0.2);
        top: 30%;
        left: -500px;
    }
    100% {
        background-color: rgba(255,255,255, 0.2);
        top: 30%;
        left: -200px;
    }
}

@keyframes window-1 {
    0% {
        background-color: rgba(255,255,255, 0.2);
        top: -250px;
        left: -500px;
    }
    100% {
        background-color: rgba(255,255,255, 0.2);
        top: -250px;
        left: -200px;
    }
}


.clockbase {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgb(101, 113, 168) 25px;
    background-color: rgb(252, 255, 243);
    position: relative;
    top: 24px;
    left: 18px;

}

.clockbase-design {
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 50% 50%;
    border: dotted rgb(216,236,223) 4.6px;
    top: 51px;
    left: 45px;
    z-index: 2px;
    transform: rotate(18.8deg)
}

.tip {
    width: 5px;
    height: 252px;
    position: absolute;
    top: 49px;
    left: 164.5px;
    border-top: solid rgb(101, 113, 168) 20px;
    border-bottom: solid rgb(101, 113, 168) 20px;
}
.tip:after {
    content: "";
    width: 260px;
    height: 5px;
    position: absolute;
    top: 103px;
    left: -125px;
    border-left: solid rgb(101, 113, 168) 20px;
    border-right: solid rgb(101, 113, 168) 20px;
}

.hours {
    position: absolute;
    width: 8px;
    height: 50px;
    background-color: rgb(169,211,247);
    top: 123.5px;
    left: 162px;
    transform-origin: center bottom
}
.minutes {
    position: absolute;
    width: 5px;
    height: 80px;
    background-color: rgb(169,211,247);
    top: 95px;
    left: 164.2px;
    transform-origin: center bottom;
    transform: rotate(60deg);
}
.seconds {
    position: absolute;
    width: 3px;
    height: 110px;
    background-color: #8bc34a;
    top: 64px;
    left: 164.5px;
    transform-origin: center bottom;
    transform: rotate(45deg);
}
.center {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color:  rgb(74, 88, 153);
    position: absolute;
    top: 168px;
    left: 160px;
    margin-left: -1px;
}
.dimension {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgb(216,236,223) 25px;
    background-color: rgb(252, 255, 243);
    top: 40px;
    left: 40px;
    position: absolute;
    z-index: -1;
}
.drop-shadow {
     width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid rgba(169,211,247, .9) 25px;
    background-color: rgb(169,211,247);
    top: 60px;
    left: 60px;
    position: absolute;
    z-index: -2;
}
.lighing {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: rgb(239,247,212);
    top: 20px;
    z-index: -2;
}
.brr0
{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.brl0
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.well
{
  border: 2px solid #8bc34a;

  border-bottom: 10px solid #8bc34a;
  background: #fff;
}

.btn-ddown
{
  color: #fff!important;

}
.btn-ddown:hover
{
  background-color: #449d44 !important;
    border-color: #398439;

}
.ddown .dropdown-menu
{
  padding: 0px 0px;
  left: auto;
  right: 0;
}
.cmsn{
      font-size: 200px;
      color: rgba(101,113,168,0.7);
      text-align: center;
      font-weight: lighter;
      display: block;
      margin-top: 75px;
}
.cmsnh
{
  text-align: center;
  color: rgba(101,113,168,0.7);
}
.ago
{
  font-size: 11px;
}
.t-ticket hr
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.reply
{
  background: rgba(63, 81, 181, 0.18);
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin: 10px 0px;
}
.reply hr
{
  margin-bottom: 5px;
  margin-top: 0px;
  border-top: 1px solid #fff;
}
.btn-reply
{
  border: none;
  font-size: 11px;
  color: #111;
  background: transparent;
}
.sset h2
{
  text-shadow: 0px 0px 3px #000;
color: #fff;
margin: 0px;
}
.sset .ssh
{
  position: absolute;
  display: block;
  bottom: 0;
  padding: 5px 15px;
  background: rgba(187, 187, 187, 0.32);
      width: 100%;
      margin-left: -15px;
      margin-right: -15px;
      border-top: 1px solid rgba(187, 187, 187, 0.55);
}
.well .ssh
{

  padding: 5px 15px;
  background: rgba(139, 195, 74, 0.24);
  border-top: 1px solid rgba(139, 195, 74, 0.42);
}
.onoffswitch {
    position: relative; width: 150px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: block;
    margin: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid transparent; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;font-weight: 400;
    background-color: #8BC34A; color: #FFFFFF;
    text-align: left;letter-spacing: 1px
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
    font-weight: 400;letter-spacing: 1px
}
#amplifier .onoffswitch-inner:before {
    content: "ON" !important;
    padding-left: 10px;font-weight: 400;
    background-color: #8BC34A; color: #FFFFFF;
    text-align: left;letter-spacing: 1px
}
#amplifier .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
    font-weight: 400;letter-spacing: 1px
}
.onoffswitch-switch {
    display: block; width: 22px;width: 22px;margin: 6px;
    background: #fff;
    position: absolute; top: 0; bottom: 0;
    right: 114px;
    border: 2px solid #4A5899; border-radius: 20px;font-weight: 100;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.devicestatus
{
  border-radius: 0px;
  background:rgba(101, 113, 168, 0.3);
  padding: 10px;
  width: 180px;
  text-align: center;
  display: block;
    margin: auto;
    margin-bottom: 15px;
}
.devicestatus h3
{
  font-size: 20px;
font-weight: 400;
margin-top: 0px;
text-align: center;
padding-bottom: 6px;
border-bottom: 2px solid #fff;
}
.devicestatus h4
{
  font-size: 18px;
font-weight: 300;
margin-top: 0px;
text-align: center;
padding-bottom: 6px;
border-bottom: 2px solid #fff;
}
.devicestatus h2
{
  font-weight: lighter;
  margin: 10px;
  color: #fff;
}
.welcome
{
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;}
  .devicestatus .table > tbody > tr > td {
      border-top: 1px solid rgba(74, 88, 153, 0.12);
      color: #fff;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
}
.btn-upload1
{   cursor: pointer;

  position: relative;
  width: 100px;
  padding: 2px 0px 0px 0px;
  margin-bottom: 10px;
}
.btn-upload .uploadprofile
{
  height: 23px;
  cursor: pointer;

}
svg.clock-face
{
  width: 100%;
  height: 300px;
}
svg.clock-face > circle.face {
    stroke-width:6px;
    stroke: #6571a8;
    fill:rgba(255,235,59,0.11);
  }

  svg.clock-face .hour-hand, svg.clock-face .minute-hand {
      stroke-width: 2px;
      stroke: #4a5899;
  }
.dclock
{
  color: #4a5899;
  font-size: 27px;
  font-weight: 100;
  text-align: center;
  margin-top: -90px;
}
.cwrap
{
  height: 288px;
width: 288px;
display: block;
margin: auto;
position: relative;
}
.tip1
{

    width: 6px;
    height: 282px;
    position: absolute;
    top: 0;
    left: 50%;
    border-top: solid #6571a8 20px;
    border-bottom: solid #6571a8 20px;
    margin-left: -3px;
    margin-top: 9px;
}
.tip1:after {
    content: "";
    width: 282px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: -138px;
    border-left: solid #6571a8 20px;
    border-right: solid #6571a8 20px;
    margin-top: -3px;
}
.tip2
{

    width: 6px;
    height: 282px;
    position: absolute;
    top: 0;
    left: 50%;
    border-top: solid #6571a8 20px;
    border-bottom: solid #6571a8 20px;
    margin-left: -3px;
    margin-top: 9px;
    transform: rotate(30deg);
}
.tip2:after {
    content: "";
    width: 282px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: -138px;
    border-left: solid #6571a8 20px;
    border-right: solid #6571a8 20px;
    margin-top: -3px;
}
.tip3
{

    width: 6px;
    height: 282px;
    position: absolute;
    top: 0;
    left: 50%;
    border-top: solid #6571a8 20px;
    border-bottom: solid #6571a8 20px;
    margin-left: -3px;
    margin-top: 9px;
    transform: rotate(60deg);
}
.tip3:after {
    content: "";
    width: 282px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: -138px;
    border-left: solid #6571a8 20px;
    border-right: solid #6571a8 20px;
    margin-top: -3px;
}
.cdots
{
  position: absolute;
  width: 255px;
  height: 255px;
  border: 7px dotted #b3d8f6;
  border-radius: 50%;
  top: 8px;
  margin: 14px;
  left: 2px;
}
.center1
{
  width: 15px;
height: 15px;
border-radius: 100%;
background-color: rgb(255, 85, 85);
position: absolute;
top: 50%;
left: 50%;
margin-left: -7px;
margin-top: -2px;
}

svg.clock-face .hour-hand, svg.clock-face .minute-hand {
    stroke-width: 2px;
    stroke: #a9d3f7;
}

.panel-heading h4 {
  font-weight: 400;
  padding: 5px 0px;
  }
  .npayment
  {
    margin: 0;

  }
.npayment > tbody > tr > td
{
  border: 0;
}
.npayment > tbody > tr > td p
{
  padding-top: 5px;
}
.sline
{
  background: #6571a8;
  height: 2px;
  padding: 0px 30px;
  display: block;
  position: relative;
  margin: 15px 0px 30px;

}
.sdot
{
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #6571a8;
  margin-top: -10px;
position: absolute;
}
.scon
{
  position: relative;
  width: 10%;
  float: left;
  display: inline-block;
  margin-top: 0px;
  height: 2px;

}
.scon .stime
{
  width: 40px;
position: absolute;
top: 10px;
margin-left: -10px;
text-align: center;
}

.scon.sactive
{
  background-image:
    repeating-linear-gradient(
      -45deg,
      #6571a8,
      #6571a8 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move 1s linear infinite;
}
.scon.sactive .sdot
{
  border-left-color: #eee;
  border-right-color: #eee;

  animation: rotate 1s infinite linear;

}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
a.tooltips {

}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -70px;
  z-index: 9999;
}
