



<table class="table">
  <thead>
    <tr>
      <th>Ticket ID</th><th>Ticket Title</th><th>Status</th><th>View</th>
    </tr>
  </thead>
  <tbody>
    {{#each tickets as |ticket index|}}

    <tr>
      <td>{{ticket.id}}</td>
      <td>{{ticket.title}}</td>
      <td><span class=" ">{{ticket.status}}</span></td>
      <td>    {{link-to 'View' 'dashboard.super.tickets.ticket' ticket.id class="btn btn-default btn-xs" }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
