
<div class="t-ticket">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">

      <h4 class="pull-left">{{ticket.title}}</h4>&nbsp;&nbsp;
      {{#if (eq ticket.status 'open')}}
      <button type="submit" {{action 'closeTicket' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-xs pull-right mr10" >Close Ticket</button>
      {{/if}}

      {{#if (eq ticket.status 'closed')}}
      <button type="submit" {{action 'reOpenTicket' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-xs pull-right mr10">Reopen Ticket</button>
      {{/if}}



</div>
    <div class="panel-body">
      <span class="label label-{{ticket.status}}">{{ticket.status}}</span>
      <span class="ago">{{moment-from-now ticket.createdat }}</span>


      <hr>
      <p>{{ticket.body}}</p>


      <hr>
      {{#each ticket.replies as |reply index|}}


          {{#if reply.editreply}}
          <div class="reply">
            {{textarea value=reply.body class="form-control" rows="3"}}
            <hr>
            <button class="btn btn-default btn-xs" {{action "saveReply" reply}} disabled={{buttonDisabled}}>Save</button>
            <button class="btn btn-default btn-xs" {{action "deleteReply" reply}} disabled={{buttonDisabled}}>Delete</button>
          </div>


          {{else}}
          <div class="reply">
            <p>{{reply.body}}</p><hr>
            {{#if (eq ticket.status 'open')}}
            {{#if (eq reply.user.role currentUserrole)}}
            <button class="btn btn-default btn-xs btn-reply" {{action "editReply" reply}} disabled={{buttonDisabled}} >Edit</button>&nbsp;|
            {{/if}}
            {{/if}}
            <span class="ago">     {{moment-from-now reply.updatedat }}</span>
            <table class="table">
              <tbody>
                {{#each reply.attachments as |attachment index|}}

               <tr>
                 <td>{{attachment.id}} -- {{attachment.filename}} </td>
                 <td>
                   <a class="btn btn-default btn-xs pull-right" href={{attachment.fullurl}} target="_blank">Download</a>
                 </td>
               </tr>
               {{/each}}
              </tbody>
            </table>

          </div>

          {{/if}}







      {{/each}}
      {{#if (eq ticket.status 'open')}}
      <button type="submit" {{action 'addReply' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-sm">Add Reply</button>
      {{/if}}
  </div>
  </div>
</div>
<form>














</form>
