
<div class="t-ticket">
  <div class="panel panel-default">
    <div class="panel-heading clearfix"><h4 class="pull-left">{{ticket.title}}</h4>  <span class="label label-{{ticket.status}} pull-right">{{ticket.status}}</span></div>
    <div class="panel-body">  <p>{{ticket.body}}</p>
    {{link-to 'Edit' 'dashboard.super.tickets.ticket.edit'  ticket class="btn btn-default btn-sm "}}
  </div>
  </div>
</div>
