<h3>Group Detils</h3>
<table class="table">

  <tbody>
    <tr>
      <td>Name of Group</td>
      <td>{{input type="text"  class="form-control" value=group.name}}</td>
    </tr>

    {{#each group.users as |user|}}
    {{#if (eq user.role 'group')}}
    <tr>
      <td>Username</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{{input type="password"  class="form-control" value=user.password}}</td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td>{{input type="password"  class="form-control" value=user.password_confirmation}}</td>
    </tr>
    <tr>
      {{#if user.checkPasswordSame}}
      <div class="alert">Password is not same</div>
      {{/if}}
    </tr>
    {{/if}}
    {{/each}}





<button {{action "saveGroup" group}}class="btn btn-default mr10" disabled={{buttonDisabled}}> Save Group</button>
<button {{action "deleteGroup" group}}class="btn btn-default" disabled={{buttonDisabled}}> Delete Group</button>
  </tbody>
</table>
