
<h3>Group Members</h3>
<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name Of Instituion</th>
      <th>Address</th>
      <th>Contact No.</th>
    </tr>
  </thead>
  <tbody>
    {{#each group.users as |user|}}
    {{#if (eq user.role 'local')}}
    <tr>
      <td> {{user.id}}</td>
      <td> {{user.nameofinstitution}}</td>
      <td> {{user.address}}</td>
      <td> {{user.contactno}}</td>

    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
    {{link-to 'Edit'  'dashboard.super.groups.group.edit' group.id class="btn btn-default btn-xs"}}
