{{#link-to 'dashboard.super.users.new' class="btn btn-default pull-right"}}
 New user
 {{/link-to}}










 {{#bs-tab as |tab|}}
   {{#tab.pane title="Users" class="clearfix"}}

    <table class="table">
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Name</th>
          <th>Expiring on</th>
          <th>Location</th>
          <th>Contact #</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {{#each users as |user index|}}
        <tr>
          <td> {{incrementone index}}</td>
          <td> {{user.nameofinstitution}}</td>
          <td> {{moment-format  user.nextpaymentdate 'DD/MM/YYYY'}}</td>
          <td> {{user.location}}</td>
          <td> {{user.contactno}}</td>
          <td>{{link-to 'Open'  'dashboard.super.users.user.view' user.id class="btn btn-default btn-xs" }}</td>
        </tr>
        {{/each}}

      </tbody>
    </table>


   {{/tab.pane}}

   {{#tab.pane title="Manage Groups" class="clearfix"}}
   {{models-table
     data=users
     columns=userscolumns
     multipleSelect=true
     useFilteringByColumns=false
       showColumnsDropdown=false
       useNumericPagination=true
       sendDisplayDataChangedAction=true
     displayDataChangedAction='usersdisplayDataChanged'
     showComponentFooter=false}}



      {{ember-selectize
        content=groups
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=selectedGroup
        select-item="groupSelected"
        placeholder="Select an Group"
      }}

     <button type="button" {{action "changeGroup"}} class="btn btn-default btn-block btn-sm " style="width:40%" >
       Change Group
     </button>

   {{/tab.pane}}


 {{/bs-tab}}
