<table class="table">

  <tbody>
    <tr>
      <td>Name of Institution</td>
      <td>{{input type="text"  class="form-control" value=nameofinstitution}}*</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{input type="email"  class="form-control" value=email}}*</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{input type="text"  class="form-control" value=location}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{input type="text"  class="form-control" value=address}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{input type="text"  class="form-control" value=state}}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{input type="text"  class="form-control" value=country}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{input type="text"  class="form-control" value=contactno}}*</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>
        <select onchange={{action "selectLanguage" value="target.value"}}>
          {{#each languages as |languageChoice|}}
          <option value={{languageChoice}}  selected={{eq user.language languageChoice}} >{{languageChoice}}</option>
          {{/each}}
        </select>
    </td>
    </tr>
    <tr>
      <td>Payment Amount</td>
      <td>{{input type="number"  class="form-control" value=paymentamount}}</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{{input type="password"  class="form-control" value=password autocomplete="off"}}*</td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>{{input type="password" class="form-control" value=password_confirmation autocomplete="off"}}*</td>
    </tr>
    {{#if checkPasswordSame}}
    <div class="alert">Password is not same</div>
    {{/if}}


<button {{action "createUser" user}} disabled={{isCreateUserDisabled}} class="btn btn-default"> Create User</button>
  </tbody>
</table>
