<div class="clearfix">
  <button class="btn btn-default btn-upload pull-right"> Upload Image
  {{file-upload  class="uploadprofile"   user=user on-upload=(action "uploadProfilePic")}}
  {{#bs-progress as |p|}}
    {{p.bar value=uploadPercent minValue=0 maxValue=100 showLabel="Progress"  type="success" striped=true animate=true}}
  {{/bs-progress}}
  </button>
</div>




<div class="bgset">
  <ul class="list-group">
    {{#each backgroundimages as |backgroundimage index|}}
    <div class="col-md-3 bgim">
      <img src={{backgroundimage.fullurl}}/><br>
      <button class="btn btn-sm btn-default" {{action "deleteBackgroundImage" backgroundimage}}>  <span class="glyphicon glyphicon-trash"></span> </button>
    </div>

    {{/each}}

  </ul>
</div>
