<div class="ember-power-calendar-row ember-power-calendar-weekdays">
  {{#each weekdaysNames as |wdn|}}
    <div class="ember-power-calendar-weekday">{{wdn}}</div>
  {{/each}}
</div>

<div class="ember-power-calendar-day-grid" onkeydown={{action "onKeyDown" calendar}}>
  {{#each weeks key='id' as |week|}}
    <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days={{week.missingDays}}>
      {{#each week.days key='id' as |day|}}
        <button type="button"
          data-date="{{day.id}}"
          class="ember-power-calendar-day {{if onSelect 'ember-power-calendar-day--interactive'}} {{if day.isCurrentMonth 'ember-power-calendar-day--current-month' 'ember-power-calendar-day--other-month'}} {{if day.isSelected 'ember-power-calendar-day--selected'}} {{if day.isToday 'ember-power-calendar-day--today'}} {{if day.isFocused 'ember-power-calendar-day--focused'}} {{if day.isRangeStart 'ember-power-calendar-day--range-start'}} {{if day.isRangeEnd 'ember-power-calendar-day--range-end'}}"
          onclick={{action calendar.actions.select day calendar}}
          onfocus={{action 'onFocusDay' day}}
          onblur={{action 'onBlurDay'}}
          disabled={{day.isDisabled}}>
          {{#if hasBlock}}
            {{yield day publicAPI}}
          {{else}}
          test day
            {{day.number}}
          {{/if}}
        </button>
      {{/each}}
    </div>
  {{/each}}
</div>
