
{{#bs-tab as |tab|}}
  {{#tab.pane title="Regular Scheduleset" class="clearfix"}}

{{#each schedulesets as |scheduleset index|}}
{{#link-to 'dashboard.super.schedulesets.scheduleset.view' scheduleset.id }}
<div class="col-md-3">
  <div class="sset  {{if scheduleset.haveTimings 'well' '' }}">
  {{incrementone index}} - {{scheduleset.description}}
</div>
</div>
{{/link-to}}
{{/each}}
  {{/tab.pane}}

  {{#tab.pane title="Exam Scheduleset" class="clearfix"}}

  {{#each examschedulesets as |examscheduleset index|}}
  {{#link-to 'dashboard.super.examschedulesets.examscheduleset.view' examscheduleset.id }}
  <div class="col-md-3">
    <div class="sset  {{if examscheduleset.haveTimings 'well' '' }}">
    {{incrementone index}} - {{examscheduleset.description}}
  </div>
  </div> {{/link-to}}
  {{/each}}
  {{/tab.pane}}


{{/bs-tab}}
