                  <div class="uinfo">
    <span class="uname"><h4>{{userEmail}}</h4></span>
    <div class="uinfo-down">
      <div class="uinfoin">
      {{user.nameofinstitution}}

      </div>
    </div>
  </div>
   {{outlet}}
