






{{#if scheduleset.editdescription}}
<div class="row" style="margin-top: 14px;margin-bottom: 7px; ">
  <div class="col-md-9">
    {{input type="text"  class="form-control" value=scheduleset.description placeholder="Description" }}
  </div>
  <div class="col-md-3">
    <button class="btn btn-default " {{action "saveDescription" scheduleset}} disabled={{buttonDisabled}}>Save</button>
  </div>
</div>

{{else}}
<h3 class="pull-left">{{scheduleset.description}}</h3>&nbsp;&nbsp;
<button class="btn btn-default btn-icon" {{action "editDescription" scheduleset}} disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-pencil"></span></button>
{{/if}}
<div class="clearfix">

</div>



<button type="text" class="btn {{if scheduleset.mondayAssigned 'btn-success' 'btn-error' }} {{assignationDisabled}}  btn-xs" disabled={{buttonDisabled}}   {{action "saveAssignation" 'monday' scheduleset}}>Monday</button>
<button type="text" class="btn  {{if scheduleset.tuesdayAssigned 'btn-success' 'btn-error' }}    {{assignationDisabled}} btn-xs" disabled={{buttonDisabled}}   {{action "saveAssignation" 'tuesday' scheduleset}}>Tuesday</button>
<button type="text" class="btn  {{if scheduleset.wednesdayAssigned 'btn-success' 'btn-error' }} {{assignationDisabled}} btn-xs"  disabled={{buttonDisabled}}  {{action "saveAssignation" 'wednesday' scheduleset}}>Wednesday</button>
<button type="text" class="btn  {{if scheduleset.thursdayAssigned 'btn-success' 'btn-error' }}  {{assignationDisabled}} btn-xs"   disabled={{buttonDisabled}} {{action "saveAssignation" 'thursday' scheduleset}}>Thursday</button>
<button type="text" class="btn  {{if scheduleset.fridayAssigned 'btn-success' 'btn-error' }} {{assignationDisabled}} btn-xs"   disabled={{buttonDisabled}} {{action "saveAssignation" 'friday' scheduleset}}>Friday</button>
<button type="text" class="btn {{if scheduleset.saturdayAssigned 'btn-success' 'btn-error' }}  {{assignationDisabled}} btn-xs"  disabled={{buttonDisabled}}  {{action "saveAssignation" 'saturday' scheduleset}}>Saturday</button>
<button type="text" class="btn {{if scheduleset.sundayAssigned 'btn-success' 'btn-error' }}   {{assignationDisabled}} btn-xs"  disabled={{buttonDisabled}}  {{action "saveAssignation" 'sunday' scheduleset}}>Sunday</button>
<button class="btn btn-default btn-xs"  disabled={{buttonDisabled}} {{action "unAssignall" scheduleset}}><span class="	glyphicon glyphicon-remove"></span> Unassign all </button>


<button class="btn btn-default pull-right mr10"  disabled={{buttonDisabled}} {{action "deleteAllTimings" scheduleset}}>Delete All Timings</button>

<table class = "table">

   <thead>
      <tr>
         <th>Sl.No.</th>
         <th>Time</th>
         <th>File</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
     {{#each schedulesetTimings as | timing index|}}
      <tr>
        {{#if timing.editTiming}}

        <td>{{incrementone index}}</td>
        <td class="tmselect">{{time-select-hour timing=timing}}{{time-select-minute timing=timing}}</td>
        <td class="flselect"> {{ember-selectize
             content=audios
             select-item="selectFile"
             optionValuePath="content.id"
             optionLabelPath="content.filename"
             selection=timing.audio
             placeholder="Select an file" }}
        </td>
        <td><div class="btn-group ddown">
          <button {{action "saveTiming" timing}}  type="text" class="btn btn-success btn-xs brr0"  >Save</button>
          {{#bs-dropdown tagName="span" as |dd|}}
        {{#dd.toggle}} <div class="btn btn-success btn-xs brl0"> <span class="caret"></span></div>{{/dd.toggle}}
        {{#dd.menu as |menu|}}
            {{#menu.item}}
                <a {{action "saveAndAddAnother" timing}}  type="text" class="btn btn-success btn-xs btn-ddown" > Save and add another</a>
            {{/menu.item}}
        {{/dd.menu}}
    {{/bs-dropdown}}
        </div> </td>





         {{else}}
         <td>{{incrementone index}}</td>
         <td>{{moment-format timing.time 'HH:mm' interval=1000 }}
         </td>
         <td>{{timing.audio.filename}}</td>
         <td>

           <button {{action "editTiming"  timing}}  type="text" class="btn btn-default btn-xs"  disabled={{buttonDisabled}}  ><span class="glyphicon glyphicon-pencil"></span></button>
           <button {{action "deleteTiming"  timing}}  type="text" class="btn btn-default btn-xs " disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-trash"></span></button>

         </td>
         {{/if}}
      </tr>
      {{/each }}
      <tr><td colspan="4">
        {{#if (lte  schedulesetTimingsCount  maxassignation)}}
        <button {{action "addTiming" scheduleset}}  type="text" class="btn btn-default btn-sm btn-block" disabled={{buttonDisabled}}   >Add New Timing</button>
        {{/if}}      </td>
      </tr>
   </tbody>

</table>
