{{#power-calendar
  center=center
  onCenterChange=(action (mut center) value="date")
  onSelect=(action "selectDate" value="date") as |calendar|}}
  {{calendar.nav}}
  {{calendar.days}}

{{/power-calendar}}
