<div class="panel panel-default">
  <div class="panel-heading clearfix"> <h4 class="pull-left">Change Password</h4>
    <button {{action "saveUser" user}}class="btn btn-default btn-sm   pull-right" disabled={{isSaveButtonDisabled}}> Save User</button>


   </div>
<div class="panel-body">
  <table class="table">
    <tbody>


      <tr>
        <td>New Password </td>
        <td>{{input type="password"  class="form-control  input-sm" value=password autocomplete="off"}}</td>
      </tr>
      <tr>
        <td>Confirm password</td>
        <td>{{input type="password" class="form-control input-sm" value=password_confirmation autocomplete="off"}}</td>
      </tr>

      <tr>
        {{#if checkPasswordSame}}
        <div class="alert">Password is not same</div>
        {{/if}}
      </tr>



    </tbody>
  </table>
</div>

</div>
