<hr style="margin-top: 10px;margin-bottom: 10px;">

{{#link-to 'dashboard.super.settings.quotes.quote' class="btn   btn-default1"}}
  Quote Setting
{{/link-to}}

{{#link-to 'dashboard.super.settings.quotes.backgroundimage' class="btn   btn-default1"}}
  Background Image Settings
{{/link-to}}
{{outlet}}
