

<h3> Expiry Date: {{moment-format user.nextpaymentdate 'DD/MM/YYYY'}}</h3>

<table class="table">
  <thead>
    <tr>
      <th>ID:</th><th>Date</th><th>Amount</th><th>Method</th>

    </tr>
  </thead>
  <tbody>
    {{#each payments as |payment index|}}

    <tr>
      <td>
      {{#link-to 'dashboard.local.payments.payment.view' payment.id }}
      {{incrementone index}}
      {{/link-to}}
    </td>
      <td>{{moment-format payment.paymentdate 'DD/MM/YYYY'}}</td>
      <td>{{payment.amount}}</td>
      <td>{{payment.paymentmethod}}</td>
    </tr>
    {{/each}}
  </tbody>


</table>
