
<button class="btn btn-primary" {{action 'selectWallet'}}>Pay by Wallet</button>
<button class="btn btn-primary" {{action 'selectCash'}}>Pay by Cash</button>

<!-- Next Payment Date :  -->

{{#if (eq paymentmethod 'cash')}}
Pay by cash {{user.paymentamount}}
<button class="btn btn-sm btn-default" {{action  'payByCash' user}}>Pay by using Cash</button>
{{/if}}

{{#if (eq paymentmethod 'wallet')}}
Pay by wallet :{{user.paymentamount}}

Wallet Balance: {{user.walletbalance}}

<button class="btn btn-sm btn-default" {{action  'payByWallet' user}}>Pay by using wallet</button>

{{/if}}
