<button type="text" class="btn {{if record.mondayAssigned 'btn-success' 'btn-error' }}  btn-xs">Monday</button>
<button type="text" class="btn {{if record.tuesdayAssigned 'btn-success' 'btn-error' }}   btn-xs" >Tuesday</button>
<button type="text" class="btn {{if record.wednesdayAssigned 'btn-success' 'btn-error' }} btn-xs" >Wednesday</button>
<button type="text" class="btn {{if record.thursdayAssigned 'btn-success' 'btn-error' }}  btn-xs"  >Thursday</button>
<button type="text" class="btn {{if record.fridayAssigned 'btn-success' 'btn-error' }} btn-xs"  >Friday</button>
<button type="text" class="btn {{if record.saturdayAssigned 'btn-success' 'btn-error' }}  btn-xs" >Saturday</button>
<button type="text" class="btn {{if record.sundayAssigned 'btn-success' 'btn-error' }}   btn-xs"  >Sunday</button>
