
<div class="scheduletabs">
  {{#link-to 'dashboard.local.schedulesets.index' class="btn btn-tab"}}
  Regular Schedule Sets
  {{/link-to}}

  {{#link-to 'dashboard.local.schedulesets.exam' class="btn btn-tab"}}
  Exam Schedule Sets
  {{/link-to}}
</div>
<div class="schedule">
  {{#each examschedulesets as |examscheduleset index|}}

  {{#link-to 'dashboard.local.examschedulesets.examscheduleset.view' examscheduleset.id }}

  <div class="col-md-3">
    <div class="sset  {{if examscheduleset.haveTimings 'well' '' }}">
      <h2>{{examscheduleset.examschedulesetno}}</h2>
      {{#if examscheduleset.assigned}}
       <span class="oktick glyphicon glyphicon-ok-sign"></span>
       {{/if}}
       {{#if examscheduleset.haveTimings}}
       <span class="ssh">{{examscheduleset.description}}</span>
       {{/if}}
    </div>
  </div>

  {{/link-to}}
  {{/each}}
</div>
