
<div class="scheduletabs">
  {{#link-to 'dashboard.local.schedulesets.index' class="btn btn-tab"}}
  Regular Schedule Sets
  {{/link-to}}

  {{#link-to 'dashboard.local.schedulesets.exam' class="btn btn-tab"}}
  Exam Schedule Sets
  {{/link-to}}
</div>
<div class="schedule">





<div class=" ssets">
  {{#each schedulesets as |scheduleset index|}}
  {{#link-to 'dashboard.local.schedulesets.scheduleset.view' scheduleset.id }}
  <div class="col-md-3">
    <div class="sset  {{if scheduleset.haveTimings 'well' '' }}">
      <h2>{{scheduleset.schedulesetno}}</h2>

      {{#if scheduleset.assigned}}
       <span class="oktick glyphicon glyphicon-ok-sign"></span>
       {{/if}}
       {{#if scheduleset.haveTimings}}
       <span class="ssh">{{scheduleset.description}}</span>
       {{/if}}
    </div>
  </div>

  {{/link-to}}
  {{/each}}
</div>








</div>
