<div class="panel panel-default">
  <div class="panel-heading clearfix"> <h4 class="pull-left">Edit User</h4>
    <button {{action "saveUser" user}}class="btn btn-default btn-sm   pull-right" disabled={{buttonDisabled}}> Save User</button>
    <button {{action "deleteUser" user}}class="btn btn-default btn-sm mr10 pull-right" disabled={{buttonDisabled}}> Delete User</button>
  </div>
<div class="panel-body">
  <table class="table">
    <tbody>
      <tr>
        <td>Name of Institution</td>
        <td>{{input type="text"  class="form-control input-sm" value=user.nameofinstitution}}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{input type="text"  class="form-control input-sm" value=user.location}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{input type="text"  class="form-control input-sm" value=user.address}}</td>
      </tr>
      <tr>
        <td>State / Province </td>
        <td>{{input type="text"  class="form-control input-sm" value=user.state}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{input type="text"  class="form-control input-sm" value=user.country}}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{input type="text"  class="form-control input-sm" value=user.contactno}}</td>
      </tr>

      <tr>
        <td>Group</td>
        <td>
          {{ember-selectize
       content=groups
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=user.group
       placeholder="Select an Group"
     }}
     </td>
  </tr>

  <tr>
    <td>Time Zones</td>
    <td>
        <select class="form-control  " onchange={{action "selectTimezone" value="target.value"}}>
          {{#each timezones as |timezoneChoice|}}
          <option value={{timezoneChoice.value}} selected={{eq user.timezone timezoneChoice.value}} >{{timezoneChoice.value}}</option>
          {{/each}}
        </select>
 </td>
</tr>

  <tr>
    <td>Language</td>
    <td>
      <select class="form-control  " onchange={{action "selectLanguage" value="target.value"}}>
        {{#each languages as |languageChoice|}}
        <option value={{languageChoice}}  selected={{eq user.language languageChoice}} >{{languageChoice}}</option>
        {{/each}}
      </select>
  </td>
  </tr>

      <tr>
        <td>New Password</td>
        <td>{{input type="password"  class="form-control  input-sm" value=password autocomplete="off"}}</td>
      </tr>
      <tr>
        <td>Confirm password</td>
        <td>{{input type="password" class="form-control input-sm" value=password_confirmation autocomplete="off"}}</td>
      </tr>

      <tr>
        {{#if checkPasswordSame}}
        <div class="alert">Password is not same</div>
        {{/if}}
      </tr>



    </tbody>
  </table>
</div>

</div>

<h3> Payments </h3>

<h4>Expiry Date: {{moment-format  user.nextpaymentdate 'DD/MM/YYYY'}}</h4>
<table class="table">
  <thead>
    <tr>
      <th>Sl No.</th> <th>Payment Date.</th><th>Amount</th><th>Method</th><th>Ref/Cheque No</th><th></th>
    </tr>
  </thead>
  <tbody>
    {{#each user.payments as |payment index|}}
    <tr>
      {{#if payment.editpayment}}
      <td>{{incrementone index}}</td>
      <td> {{pikaday-input  value=payment.paymentdate }}</td>
      <td> {{input type="text" value=payment.amount}}</td>
      <td> {{input type="text" value=payment.paymentmethod}}</td>
      <td>{{input type="text" value=payment.chequeno}}</td>
      <td> <button {{action "savePayment" payment}}>Save</button> </td>
      {{else}}
      <td>{{incrementone index}}</td>
      <td> {{moment-format  payment.paymentdate 'DD/MM/YYYY'}}</td>
      <td> {{payment.amount}}</td>
      <td> {{payment.paymentmethod}}</td>
      <td> {{payment.chequeno}}</td>
      <td> <button {{action "editPayment" payment}}>Edit</button> </td>
      {{/if}}
  </tr>
    {{/each}}
  </tbody>

</table>

<div>
  <div class="panel panel-default ">
  <div class="panel-heading"><h5>New Payment</h5></div>
  <div class="panel-body">
    <table class="table npayment">
      <tbody>
        <tr>
          <td  style="width:75px;"><p>Months :</p></td>
           <td>
             <select class="form-control input-sm" onchange={{action "selectMonths" value="target.value"}}>
               {{#each months as |month|}}
               <option value={{month}} >{{month}}</option>
               {{/each}}
             </select>
           </td>

          <td style="width:75px"><p>Method :</p></td>
           <td>
             <select class="form-control input-sm" onchange={{action "selectMethod" value="target.value"}}>
               {{#each methods as |method|}}
               <option value={{method}} >{{method}}</option>
               {{/each}}
             </select>
           </td>
        {{#if (eq method 'Cheque')}}
      <td style="width:100px"><p>Cheque No.</p></td>
      <td>{{input type="text" value=chequeno placeholder="Cheque No." class="form-control input-sm"}}</td>
            {{/if}}
            <td>
              <button {{action "createPayment" user}}class="btn btn-default pull-right" disabled={{isSavePaymentButtonDisabled}}> Save Payment</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
