<div class="panel panel-default">
  <div class="panel-heading clearfix"> <h4 class="pull-left">{{user.nameofinstitution}}</h4>
    {{link-to "Edit user"  'dashboard.super.users.user.edit' user class="btn btn-default btn-sm   pull-right"}}
    <button class="btn btn-primary pull-right btn-sm mr10" {{action "impersonateUser" user}}>Impersonate</button>

  </div>
<div class="panel-body">
<table class="table">

  <tbody>
    <tr>
      <td>Name of Institution</td>
      <td>{{user.nameofinstitution}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{user.location}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{user.address}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{user.state}}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{user.country}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{user.contactno}}</td>
    </tr>
    <tr>
      <td>Installation Date</td>
      <td>{{moment-format user.installationdate 'DD-MM-YYYY'}}</td>
    </tr>
    <tr>
      <td>Group</td>
      <td>{{user.group.name}}</td>
    </tr>
    <tr>
      <td>Unique ID</td>
      <td>{{user.uniqueidentifier}}</td>
    </tr>
    <tr>
      <td>Authentication Token</td>
      <td>{{user.authenticationtoken}}</td>
    </tr>
    <tr>
      <td>Installation Date</td>
      <td>{{moment-format user.installationdate 'DD-MM-YYYY'}}</td>
    </tr>

  </tbody>


</table>
</div>
</div>

<!-- <table class="table table-bordered">
  <tbody>
    <tr>
      <th>Sl No.</th>
      <th>Amount</th>
      <th>Payment Date</th>
    </tr>
    {{#each payments as |payment index|}}

    <tr>
      <td>{{incrementone index}}</td>
      <td>{{payment.amount}}</td>
      <td>{{moment-format 'DD-MM-YYYY' payment.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> -->
