<div class="row">
  <div class="col-md-12">
    {{#if examscheduleset.editdescription}}
    <div class="row" style="margin-top: 14px;margin-bottom: 7px; ">
      <div class="col-md-9">{{input type="text"  class="form-control" value=examscheduleset.description placeholder="Description" }}  </div>
      <div class="col-md-3"><button class="btn btn-default " {{action "saveDescription" examscheduleset}} disabled={{buttonDisabled}}>Save</button></div>
    </div>
    {{else}}
    <h3 class="pull-left">{{examscheduleset.description}}</h3>&nbsp;&nbsp;
    <button class="btn btn-default btn-icon" {{action "editDescription" examscheduleset}} disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-pencil"></span></button>
    {{/if}}
  </div>
</div>

<button class="btn btn-default"  disabled={{buttonDisabled}} {{action "unAssignall" examscheduleset}}>Unassign All </button>

<button class="btn btn-default"  disabled={{buttonDisabled}} {{action "deleteAllTimings" examscheduleset}}>Delete All Timings</button>
<div class="row">
  <div class="col-md-6">
   <table class="table examss">
     <thead>
       <tr>
         <td>ID</td> <td>Date</td><td>Delete</td>
       </tr>
     </thead>
     <tbody>
       {{#each sortedExamassignations as |examassignation index|}}
       <tr>
         <td>
           {{incrementone index}}
         </td>
         <td>
           {{pikaday-input value=examassignation.time onSelection=(action 'doSomethingWithSelectedValue' examassignation) }}
         </td>
         <td>
           <button class="btn btn-xs btn-default" {{action 'deleteAssignation' examassignation }} disabled={{buttonDisabled}}>Delete</button>
         </td>
       </tr>
       {{/each}}
       <tr>
         <td colspan="3">
           {{#if (lte  sortedExamassignationsCount  maxassignation)}}
           <button class="btn btn-default btn-sm btn-block {{assignationDisabled}}" {{action 'addAssignation' examscheduleset }} disabled={{buttonDisabled}}>Add New Assignation</button>
           {{/if}}
         </td>
       </tr>
     </tbody>

   </table>

  </div>
  <div class="col-md-6">
    <br><br>
    <table class = "table">
       <thead>
          <tr>
             <th>Sl.No.</th>
             <th>Time</th>
             <th>File</th>
             <th>Action</th>
          </tr>
       </thead>

       <tbody>
         {{#each sortedExamtimings as | examtiming index|}}
          <tr>
            {{#if examtiming.editTiming}}
            <td>{{incrementone index}}</td>
            <td class="tmselect">{{time-select-hour timing=examtiming}}{{time-select-minute timing=examtiming}}</td>
           <td class="flselect">
            {{ember-selectize
            content=audios
            optionValuePath="content.id"
            optionLabelPath="content.filename"
            selection=examtiming.audio
            placeholder="Select an file" }}
          </td>
          <td>
            <div class="btn-group ddown">
              <button {{action "saveTiming" examtiming}}  type="text" class="btn btn-success btn-xs brr0"  >Save</button>
              {{#bs-dropdown tagName="span" as |dd|}}
            {{#dd.toggle}} <div class="btn btn-success btn-xs brl0"> <span class="caret"></span></div>{{/dd.toggle}}
            {{#dd.menu as |menu|}}
                {{#menu.item}}
                    <a {{action "saveAndAddAnother" examtiming}}  type="text" class="btn btn-success btn-xs" > Save and add another</a>
                {{/menu.item}}
            {{/dd.menu}}
        {{/bs-dropdown}}
            </div>
          </td>



             {{else}}
             <td>{{incrementone index}}</td>
             <td>{{moment-format examtiming.time 'HH:mm' interval=1000 }}</td>
             <td>{{examtiming.audio.filename}}</td>
             <td>

               <button {{action "editTiming"  examtiming}}  type="text" class="btn btn-default btn-xs"  disabled={{buttonDisabled}}  ><span class="glyphicon glyphicon-pencil"></span></button>
               <button {{action "deleteTiming"  examtiming}}  type="text" class="btn btn-default btn-xs " disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-trash"></span></button>

             </td>



             {{/if}}
          </tr>


          {{/each }}
          <tr>
            <td colspan="4">
              {{#if (lte  sortedExamtimingsCount  maxassignation)}}
              <button {{action "addTiming" examscheduleset}}  type="text" class="btn btn-default btn-sm btn-block" disabled={{buttonDisabled}}  >Add New Timing</button>
              {{/if}}
            </td>
          </tr>
       </tbody>

    </table>

  </div>
</div>
