
  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {{#each memberusers as |memberuser index|}}
      <tr>
        <td> {{memberuser.id}}</td>
        <td> {{memberuser.nameofinstitution}}</td>
        <td> {{memberuser.location}}</td>
        <td>{{link-to 'Open'  'dashboard.group.users.user.view' memberuser.id class="btn btn-default btn-xs" }}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>
