



{{#if scheduleset.editdescription}}
<div class="row" style="margin-top: 14px;margin-bottom: 7px; ">
  <div class="col-md-9">
    {{input type="text"  class="form-control" value=scheduleset.description placeholder="Description" }}
  </div>
  <div class="col-md-3">
    <button class="btn btn-default " {{action "saveDescription" scheduleset}} disabled={{buttonDisabled}}>Submit</button>
  </div>
</div>

{{else}}
<h3 class="pull-left">{{scheduleset.description}}</h3>&nbsp;&nbsp;
<button class="btn btn-default btn-icon" {{action "editDescription" scheduleset}} disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-pencil"></span></button>
{{/if}}
<div class="clearfix">

</div>


<!-- {{scheduleset.id}} -->
<div class="row">
  <div class="col-md-12 ">
    <button type="text" class="btn  {{if scheduleset.mondayAssigned 'btn-success' 'btn-error ' }} {{assignationDisabled}} btn-xs"     disabled={{buttonDisabled}} {{action "saveAssignation" 'monday' scheduleset}}>Monday</button>
    <button type="text" class="btn  {{if scheduleset.tuesdayAssigned 'btn-success' 'btn-error' }}   {{assignationDisabled}} btn-xs"   disabled={{buttonDisabled}} {{action "saveAssignation" 'tuesday' scheduleset}}>Tuesday</button>
    <button type="text" class="btn  {{if scheduleset.wednesdayAssigned 'btn-success' 'btn-error' }} {{assignationDisabled}} btn-xs"  disabled={{buttonDisabled}} {{action "saveAssignation" 'wednesday' scheduleset}}>Wednesday</button>
    <button type="text" class="btn  {{if scheduleset.thursdayAssigned 'btn-success' 'btn-error' }}  {{assignationDisabled}} btn-xs"   disabled={{buttonDisabled}} {{action "saveAssignation" 'thursday' scheduleset}}>Thursday</button>
    <button type="text" class="btn  {{if scheduleset.fridayAssigned 'btn-success' 'btn-error' }}  {{assignationDisabled}} btn-xs"      disabled={{buttonDisabled}} {{action "saveAssignation" 'friday' scheduleset}}>Friday</button>
    <button type="text" class="btn  {{if scheduleset.saturdayAssigned 'btn-success' 'btn-error' }}  {{assignationDisabled}} btn-xs"   disabled={{buttonDisabled}} {{action "saveAssignation" 'saturday' scheduleset}}>Saturday</button>
    <button type="text" class="btn  {{if scheduleset.sundayAssigned 'btn-success' 'btn-error' }}    {{assignationDisabled}} btn-xs"    disabled={{buttonDisabled}} {{action "saveAssignation" 'sunday' scheduleset}}>Sunday</button>
    <button class="btn btn-default btn-xs"  disabled={{buttonDisabled}} {{action "unAssignall" scheduleset}}><span class="	glyphicon glyphicon-remove"></span> Unassign all </button>

  </div>
</div>
<br>
    <div class="row">
      <div class="col-md-3">
        {{ember-selectize
            content=routeuserschedulesets
            optionValuePath="content.id"
            optionLabelPath="content.description"
            selection=userscheduleset
            placeholder="Select a Scheduleset" }}
      </div>

      <div class="col-md-1 npl ">
        <button class="btn btn-default"  disabled={{buttonDisabled}} {{action "copyOtherScheduleset"}}>Import </button>
      </div>


        <div class="col-md-2 npl">
        <button class="btn btn-default"  disabled={{buttonDisabled}} {{action "copySuperScheduleset"}}>Import Super User Scheduleset</button>
      </div>
      <div class="col-md-6 ">
      <!-- <button class="btn btn-default pull-right "  disabled={{buttonDisabled}} {{action "sendToDevice" scheduleset}}>Send To Device</button> -->
      <button class="btn btn-default pull-right mr10"  disabled={{buttonDisabled}} {{action "deleteAllTimings" scheduleset}}>Delete All Timings</button>
    </div>
      <br><br><br>

    </div>




<table class = "table">
   <thead>
      <tr>
         <th class="sssl">Sl.No.</th>
          <th>Title</th>

         <th class="sstime">Time</th>

         <th>File</th>
         <th>Zones</th>
         
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
     {{#each schedulesetTimings as | timing index|}}
      <tr class="">
        {{#if timing.editTiming}}

        <td class="sssl ">{{incrementone index}}</td>
        <td class="sstitle editmode">
            {{input type="text" value=timing.title class="form-control input-sm "  }}
        </td>


               <td class="sstime tmselect editmode">{{time-select-hour timing=timing}}
               {{time-select-minute timing=timing}}</td>
               <td class="ssfile flselect editmode">      {{ember-selectize
                    content=audios
                    select-item="selectFile"
                    optionValuePath="content.id"
                    optionLabelPath="content.filename"
                    selection=timing.audio
                    
                    placeholder="Select an file"
                  }}
                  </td>
                  <td class="sszones ">
                    {{!-- <button type="text" class="btn  {{if scheduleset.mondayAssigned 'btn-success' 'btn-error ' }} {{assignationDisabled}} btn-xs"     disabled={{buttonDisabled}} {{action "saveAssignation" 'monday' scheduleset}}>Monday</button> --}}
      
                    <button class="btn btn-xs {{if timing.zone1 'btn-success' 'btn-error' }} " {{action "zone1toggle"  timing}}>Zone 1  </button>
                    <button class="btn btn-xs {{if timing.zone2 'btn-success' 'btn-error' }}" {{action "zone2toggle"  timing}} >Zone 2 </button>
                    <button class="btn btn-xs {{if timing.zone3 'btn-success' 'btn-error' }}" {{action "zone3toggle"  timing}} >Zone 3 </button>
                    <button class="btn btn-xs {{if timing.zone4 'btn-success' 'btn-error' }}" {{action "zone4toggle"  timing}} >Zone 4 </button>
           
                  </td>
                  <td class="ssactions">
                    <div class="btn-group ddown">
                      <button {{action "saveTiming" timing}}  type="text" class="btn btn-success btn-xs brr0"  >Save</button>
                      {{#bs-dropdown tagName="span" as |dd|}}
                    {{#dd.toggle}} <div class="btn btn-success btn-xs brl0"> <span class="caret"></span></div>{{/dd.toggle}}
                    {{#dd.menu as |menu|}}
                        {{#menu.item}}
                            <a {{action "saveAndAddAnother" timing}}  type="text" class="btn btn-success btn-xs btn-ddown" > Save and add another</a>
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
                    </div>
                  </td>

         {{else}}
         <td class="sssl">{{incrementone index}}</td>
          <td class="sstitle">{{timing.title}}</td>

         <td  class="sstime">{{moment-format timing.time 'HH:mm' interval=1000 }}
         </td>
         <td class="ssfile">{{timing.audio.filename}}</td>
         <td class="sszones">
           {{#if timing.zone1}}<div class="btn btn-default btn-xs btndsb" >Zone 1</div>  {{/if}}
           {{#if timing.zone2}}<div class="btn btn-default btn-xs btndsb">Zone 2</div>  {{/if}}
           {{#if timing.zone3}}<div class="btn btn-default btn-xs btndsb">Zone 3</div>  {{/if}}
           {{#if timing.zone4}}<div class="btn btn-default btn-xs btndsb">Zone 4</div>  {{/if}}
           
           {{!-- <button class="btn btn-xs btn-success" >Zone 1</button>
           
           <button class="btn btn-xs btn-success " >Zone 2</button>
           <button class="btn btn-xs btn-success" >Zone 3</button>
           <button class="btn btn-xs btn-success" >Zone 4</button> --}}
           

         </td>
         <td class="ssactions">
           <button {{action "editTiming"  timing}}  type="text" class="btn btn-default btn-xs"  disabled={{buttonDisabled}}  ><span class="glyphicon glyphicon-pencil"></span></button>
           <button {{action "deleteTiming"  timing}}  type="text" class="btn btn-default btn-xs " disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-trash"></span></button>

         </td>


         {{/if}}
      </tr>
      {{/each }}
      <tr><td colspan="6  ">
        {{#if (lte  schedulesetTimingsCount  maxassignation)}}
        <button {{action "addTiming" scheduleset}}  type="text" class="btn btn-default btn-sm btn-block"  >Add New Timing</button>
        {{/if}}
      </td>
      </tr>
   </tbody>

</table>
