<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Fire Evacuation Plans</h1>
</div></div>
<div class="rightpanecon">
  {{outlet}}
<br><br>
  <div class="col-md-4">
      <div class="sset well hzd">
        .          <img  style="height:50px;" src="/hzd.png" alt="" />

                  <button class="btn btn-default btn-xs pull-right btnfedit"><span class="glyphicon glyphicon-pencil"> </span></button>

           <span class="ssh"> Hazard Zone</span>



<audio id="0" controls="" preload="none" controls controlsList="nodownload">
              <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180613%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180613T112440Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=5fa617792dcc68c12aca68d9b49f1851dabb36e8c1a5d2c50d52208560d3524f" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
      </div>

  </div>
  <div class="col-md-4">
     <div class="sset well hzd">
        .          <img  style="height:50px;" src="/safe.png" alt="" />

                  <button class="btn btn-default btn-xs pull-right btnfedit"><span class="glyphicon glyphicon-floppy-disk"> </span></button>

           <span class="ssh"> Safe Zone</span>



      <select class="form-control ">
  <option value="00">holiday.mp3</option>
  <option value="01">annc.mp3</option>
  <option value="02">annc2.mp3</option>
  <option value="03">001.mp3</option>
  <option value="04">default.mp3</option>
  </select>

      </div>

  </div>
   <div class="col-md-12">
  <br>
     
       <h2>Nodes</h2>

     <table class="table">
   <thead>
      <tr>
         <th class="sssl">Sl.No.</th>
          <th>Title</th>


         <th>File</th>
         
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
      <tr class="">
         <td class="sssl">1</td>
          <td class="sstitle">Washrooms</td>

         <td class="ssfile">school_bell.mp3</td>

         <td class="ssactions">
           <button type="text" class="btn btn-default btn-xs" data-ember-action="" data-ember-action-1566="1566"><span class="glyphicon glyphicon-pencil"></span></button>
           <button type="text" class="btn btn-default btn-xs " data-ember-action="" data-ember-action-1567="1567"><span class="glyphicon glyphicon-trash"></span></button>

         </td>


      </tr>
      <tr class="">
         <td class="sssl">2</td>
          <td class="sstitle">Auditorium</td>

 
         <td class="ssfile">school_bell.mp3</td>

         <td class="ssactions">
           <button type="text" class="btn btn-default btn-xs" data-ember-action="" data-ember-action-1497="1497"><span class="glyphicon glyphicon-pencil"></span></button>
           <button type="text" class="btn btn-default btn-xs " data-ember-action="" data-ember-action-1498="1498"><span class="glyphicon glyphicon-trash"></span></button>

         </td>


      </tr>
      <tr class="">
         <td class="sssl">3</td>
          <td class="sstitle">Block A</td>


         <td class="ssfile">school_bell.mp3</td>

         <td class="ssactions">
           <button type="text" class="btn btn-default btn-xs" data-ember-action="" data-ember-action-1500="1500"><span class="glyphicon glyphicon-pencil"></span></button>
           <button type="text" class="btn btn-default btn-xs " data-ember-action="" data-ember-action-1501="1501"><span class="glyphicon glyphicon-trash"></span></button>

         </td>


      </tr>
 <tr class="">

        <td class="sssl ">4</td>
        <td class="sstitle editmode">
            <input type="text" id="ember1376" class="form-control input-sm  ember-text-field ember-view">
        </td>


     
               <td class="ssfile flselect editmode">      <select tabindex="-1" autocomplete="off" id="ember1383" class="ember-selectize ember-view selectized" style="display: none;"><option value="4" selected="selected">school_bell.mp3</option></select><div class="selectize-control ember-selectize ember-view single"><div class="selectize-input items full has-options has-items"><div class="item" data-value="4">school_bell.mp3</div><input type="text" autocomplete="off" tabindex="0" style="width: 4px; opacity: 0; position: absolute; left: -10000px;"></div><div class="selectize-dropdown single ember-selectize ember-view" style="display: none; width: 184px; top: 28px; left: 0px;"><div class="selectize-dropdown-content"><div class="option" data-selectable="" data-value="2">school_bell.mp3</div><div class="option selected" data-selectable="" data-value="4">school_bell.mp3</div><div class="option" data-selectable="" data-value="5">school_bell.mp3</div></div></div></div>
                  </td>
 
                  <td class="ssactions">
                    <div class="btn-group ddown">
                      <button type="text" class="btn btn-success btn-xs brr0" data-ember-action="" data-ember-action-1384="1384">Save</button>
<span id="ember1385" class="dropdown ember-view">                    <a href="#" id="ember1386" role="button" class="dropdown-toggle ember-view"> <div class="btn btn-success btn-xs brl0"> <span class="caret"></span></div></a>
<ul id="ember1387" role="menu" class="dropdown-menu ember-view"><li id="ember1388" class="ember-view">                            <a type="text" class="btn btn-success btn-xs btn-ddown" data-ember-action="" data-ember-action-1389="1389"> Save and add another</a>
</li>
</ul></span>                    </div>
                  </td>

      </tr>

<tr><td colspan="4  ">
        <button type="text" class="btn btn-default btn-sm btn-block" data-ember-action="" data-ember-action-1292="1292">Add New Node</button>
      </td>
      </tr>

     
   </tbody>

</table>
   </div>
  

</div>
