

 <div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<!-- {{deviceOnlinestatus}}<br>
{{deviceAmplifierstatus}}<br>
{{deviceMutestatus}}<br> -->



<h1>Dashboard</h1>

{{!-- {{updatemessage}} {{clientstatus}} <br> {{updatechat}} --}}



</div></div>
<div class="rightpanecon" style="overflow: hidden">
  <div class="col-md-12">
    <h5 class="welcome"><span class="text-center ">{{user.nameofinstitution}}, {{user.address}} </span><span class="pull-right"> {{user.state}} , {{user.country}}</span></h5>

  </div>

  <div class="row">
    <div class="dbwrap" style="overflow:hidden ">
      <div class="db2">

      </div>
      <div class="db1">
        <div class="dbl">
          <div class="dblock clearfix"><span class="bhh">{{clock.hour}}:{{clock.minute}}</span><div class="tss">{{clock.second}}<div class="clearfix tsd"></div> {{clock.ampm}}</div>

       </div>
       <div class="dblock clearfix">
             <div class="clearfix">
         <span class="bhh"> {{moment-format now 'DD'}}</span> <div class="ts2" >{{moment-format now 'dddd'}}<div class="clearfix tsd"></div>{{moment-format now ' MMM'}} {{moment-format now 'YYYY'}}</div>

         </div>

         
         <div class="clearfix">
           <span class="label label-default labeltd dbss" >{{todaysScheduleset.description}}</span>

         </div>

        </div>
        <div class="dblock clearfix" style="border: none;">
         <div class="ts3" >
           {{#if todaysScheduleset.nextTiming.time}}
           Next Bell : {{ moment-format  todaysScheduleset.nextTiming.time 'HH:mm'}} |  Prev Bell : {{ moment-format  todaysScheduleset.previousTiming.time 'HH:mm'}}<br>
           {{else}}
           No Upcoming bells.
           {{/if}}


           <div class="clearfix">{{todaysScheduleset.nextTiming.audio.filename}}</div>
            <p style="float:left">Countdown : </p>

             <h4 style="margin:0">&nbsp;&nbsp; {{countdown}}</h4>

         </div>
         </div>





        <!-- <div class="dblock clearfix">
        <div class="ts2" >Next Ring : {{ moment-format  todaysScheduleset.nextTiming.time 'HH:mm'}}</div>
         </div> -->
        </div>

        <div class="cwrap">
          <div class="cli">

            <!-- {{#if (eq clientstatus 'CONNECTING')}}
            <div class="dstatus dconnecting">
              <span class="spanon">CONNECTING...</span>
            </div>
            {{/if}} -->
<div class="dstatus doffline d{{clientstatus}}">
  <!-- <span class="spanon">ONLINE</span>
  <span class="spanon">OFFLINE</span> -->

</div>
<!-- <div class="dstatus doffline ">
  <span class="spanoff">{{clientstatus}}</span>
</div> -->



</div>






          {{clock-face size="150" showClockNumbers=false}}
          <div class="tip"></div>
          <div class="tip tip2"></div>
          <div class="tip tip3"></div>
          <div class="center1"></div>
        </div>
      </div>
      <div class="db3">
        <div class="db3a">
          <div class="amplifier"style="padding:0;height: 89px">
            <button class="btn btn-primary btnmute"  id="sendButtonPressed" {{action "sendButtonPressed"}}>
              Amplifier <br>
              <img class="opamp" src="/amp.png" alt="" />
            </button>
          </div>
          <div class="amplifier  btn btn-primary btnsync" id="sendButtonPressed1" {{action "syncButtonPressed"}}>
            <h4> <span class="glyphicon glyphicon-refresh"></span></h4>

          </div>
          <div class="amplifier " style="height: 89px;padding:0;">
            <div class="btn btn-primary btnmute" id="sendButtonPressed2" {{action "muteButtonPressed"}}>
              Mute
              <span style="margin-left:10px;;" class="glyphicon glyphicon-volume-up"></span>
            </div>
          </div>
        </div>
        <div class="db3b">
            <div class="dates">
              {{#each forcastLists as |forcastList|}}

          <div class="ddate"><div class="dd1">
            {{!-- <div class="datedd">{{ moment-format  forcastList.date 'DD'}}</div> <span class="datemm">{{ moment-format  forcastList.date 'MMM'}}</span> --}}
           
           <h3>{{ moment-format  forcastList.date 'DD'}}</h3>
           <p>{{ moment-format  forcastList.date 'MMM'}}</p>
           
            {{!-- <span>{{ moment-format  forcastList.date 'ddd'}}</span> --}}
          </div>
          <div class="dd3">
                       <p>{{ moment-format  forcastList.date 'ddd'}}</p>

            </div>

          <div class="dd2">
            <div class="dd2no">
                                                       {{#if forcastList.number}}
                         {{forcastList.number}}
                          {{else}}
                        --
                        {{/if}}
            </div>
            <div class="dd2sn">
                                      {{#if forcastList.description}}
                        {{forcastList.description}}
                        {{else}}
                        - - - - - - - - - 
                        {{/if}}
            </div>


            
          </div>
        </div>
              {{/each}}



            </div>
        </div>

      </div>
    </div>





  </div>
  <br><br><br>
  <div class="col-md-12">
  <br><br><br>
    
    <div class="sline" style="padding-left: calc(50%/{{sortedtodaysTimings.length}});">
    <div class="sline">

      {{#each sortedtodaysTimings as |timing|}}
      {{#if timing.isPrevious}}
      <div class="scon s-true" style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips  sadas"  >
          <div class="dothover"> 
            <div class="dothoverin">
              <p>{{timing.title}}</p>
              {{#if timing.audio.filename}}<p>{{timing.audio.filename}}</p> {{/if}}
              <p>
            {{#if timing.zone1}}<div class="btn btn-default btn-xs btndsb" >Z1</div>  {{/if}}
           {{#if timing.zone2}}<div class="btn btn-default btn-xs btndsb">Z2</div>  {{/if}}
           {{#if timing.zone3}}<div class="btn btn-default btn-xs btndsb">Z3</div>  {{/if}}
           {{#if timing.zone4}}<div class="btn btn-default btn-xs btndsb">Z4</div>  {{/if}}
              </p>
 
            </div> 
          </div>
            <div class="glyphicon dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          
      </div>
      {{else if  timing.isNext}}
      <div class="scon snext" style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips sadas "  >
                      <div class="dothover"> 
            <div class="dothoverin">
              <p>{{timing.title}}</p>
              {{#if timing.audio.filename}}<p>{{timing.audio.filename}}</p> {{/if}}
              <p>
            {{#if timing.zone1}}<div class="btn btn-default btn-xs btndsb" >Z1</div>  {{/if}}
           {{#if timing.zone2}}<div class="btn btn-default btn-xs btndsb">Z2</div>  {{/if}}
           {{#if timing.zone3}}<div class="btn btn-default btn-xs btndsb">Z3</div>  {{/if}}
           {{#if timing.zone4}}<div class="btn btn-default btn-xs btndsb">Z4</div>  {{/if}}
              </p>
 
            </div> 
          </div>
        	<div class="glyphicon glyphicon-bell dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          {{!-- <span class="sname">{{timing.title}}</span> --}}
          
      </div>
      {{else}}
      <div class="scon " style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips sadas"  > 
          <div class="dothover"> 
            <div class="dothoverin">
              <p>{{timing.title}}</p>
              {{#if timing.audio.filename}}<p>{{timing.audio.filename}}</p> {{/if}}
              <p>
            {{#if timing.zone1}}<div class="btn btn-default btn-xs btndsb" >Z1</div>  {{/if}}
           {{#if timing.zone2}}<div class="btn btn-default btn-xs btndsb">Z2</div>  {{/if}}
           {{#if timing.zone3}}<div class="btn btn-default btn-xs btndsb">Z3</div>  {{/if}}
           {{#if timing.zone4}}<div class="btn btn-default btn-xs btndsb">Z4</div>  {{/if}}
              </p>
 
            </div> 
          </div>
          <div class="glyphicon  dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          <span class="sname"></span>
          
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
{{!-- <div class="tlwrap">
  <div class="vertical-tl" style="height:calc(100px * {{sortedtodaysTimings.length}}  );">
     {{#each sortedtodaysTimings as |timing|}}
      {{#if timing.isPrevious}}
      <div class="scon s-true" style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips  sadas"  > <div class="dothover"> <div class="dothoverin">{{timing.audio.filename}} </div></div> <div class="glyphicon dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          <span class="sname">First Hour</span>
          
      </div>
      {{else if  timing.isNext}}
      <div class="scon snext" style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips sadas "  >  <div class="dothover"><div class="dothoverin">{{timing.audio.filename}} </div> </div>	<div class="glyphicon glyphicon-bell dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          <span class="sname">First Hour</span>
          
      </div>
      {{else}}
      <div class="scon " style="width: calc(100%/{{sortedtodaysTimings.length}});">
        <a href="#" class="sdot tooltips sadas"  > <div class="dothover"> <div class="dothoverin">{{timing.audio.filename}} <br> <div class="btn btn-xs btn-default">Z1</div> </div> </div><div class="glyphicon  dotin"></div> </a>
          <span class="stime">{{ moment-format timing.time 'HH:mm'}}</span>
          <span class="sname">First Hour</span>
          
      </div>
      {{/if}}
      {{/each}}
</div>
</div> --}}

</div>





{{outlet}}
