<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Dashboard</h1>
</div></div>
<div class="rightpanecon">
  <h3>Welcome {{user.nameofinstitution}}aaaaaa</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="clock-container">
        <div class="clockbase"></div>
        <div class="clockbase-design"></div>
        <div class="clock-face"></div>
        <div class="tip"></div>
        <div class="center"></div>
        <div class="seconds"></div>
        <div class="minutes"></div>
        <div class="hours"></div>
        <div class="dimension"></div>
        <div class="drop-shadow"></div>
        <div class="lighting"></div>
         </div>

    </div>
    <div class="col-md-6">

    </div>
  </div>

</div>

{{outlet}}
