<ul class="list-group">
{{#each versions as |version| }}

<li class="list-group-item">
  {{version.itemtype}} --
{{version.itemid}}  --
{{version.event}}--
{{version.whodunnitemail}}
</li>

{{/each}}
</ul>
