<h1 class="">Media</h1>




<div class="clearfix">
  <button class=" btn btn-default btn-upload pull-right " disabled={{buttonDisabled}} >Upload Media
  {{file-upload   class="uploadprofile"  accept=".mp3"  user=user on-upload=(action "uploadProfilePic")}}
  {{#bs-progress as |p|}}
    {{p.bar value=uploadPercent minValue=0 maxValue=100 showLabel="Progress"  type="success" striped=true animate=true}}
  {{/bs-progress}}
  </button>
</div>

<div class="rightpanecon">
<div class="t-media " style="margin-top:-15px">
  <br>
  {{#bs-tab as |tab|}}
  {{#tab.pane title="User Files"}}

    <div class="clearfix row">
      {{#each audios as |audio index|}}
        <div class="col-md-4">
          <div class="mediawrap">
            <h4>{{audio.filename}}</h4>
            <audio id={{index}} controls preload="none">
              <source id="source_{{index}}" src="{{audio.fullurl}}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <button {{action "deleteAudio"  audio}}  type="text" class="btn btn-default btn-xs mdelete " disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-trash"></span></button>
          </div>
       </div>
      {{/each}}
    </div>

  {{/tab.pane}}
  {{#tab.pane title="Default Files"}}

      <div class="clearfix row">
      {{#each superaudios as |audio index|}}
        <div class="col-md-4">
          <div class="mediawrap">
            <h4>{{audio.filename}}</h4>
            
<label class="switch">
  {{input type="checkbox" on="change"}}
  <span class="slider round"></span>
</label>
            <audio id={{index}} controls preload="none">
              <source id="source_{{index}}" src="{{audio.fullurl}}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            {{!-- <button {{action "deleteAudio"  audio}}  type="text" class="btn btn-danger btn-xs mdelete " disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-trash"></span></button> --}}
          </div>
       </div>
      {{/each}}
    </div>

  {{/tab.pane}}
{{/bs-tab}}



  {{!-- <table class="table">
    <thead>
      <tr>
        <th>File Name</th><th>Play</th><th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each audios as |audio index|}}
      <tr>
        <td>{{audio.filename}}</td>
        <td>
            <audio id={{index}} controls preload="none">
            <source id="source_{{index}}" src="{{audio.fullurl}}" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </td>
        <td>
          <button {{action "deleteAudio"  audio}}  type="text" class="btn btn-danger btn-xs " disabled={{buttonDisabled}} >Delete</button>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table> --}}
</div>



</div>
