<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Profile</h1>
</div></div>

<div class="row">
  <div class="col-md-12">




    <table class="table">
      <tbody>
        <tr>
          <td>Name of Institution</td>    <td>{{user.nameofinstitution}}</td>
        </tr>
        <tr>
          <td>Unique ID </td>    <td>{{user.uniqueidentifier}}</td>
        </tr>
        <tr>
          <td>Contact No </td>    <td>{{user.contactno}}</td>
        </tr>
        <tr>
          <td>Location</td>    <td>{{user.location}}</td>
        </tr>
        <tr>
          <td>Installation Date </td>    <td>{{moment-format user.installationdate 'DD-MM-YYYY'}}</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
