<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Quick Annoucement</h1>
</div></div>

{{!-- <div class="clearfix">
  <button class=" btn btn-default btn-upload pull-right " disabled={{buttonDisabled}} >Upload Media
  {{file-upload   class="uploadprofile"  accept=".mp3"  user=user on-upload=(action "uploadProfilePic")}}
  {{#bs-progress as |p|}}
    {{p.bar value=uploadPercent minValue=0 maxValue=100 showLabel="Progress"  type="success" striped=true animate=true}}
  {{/bs-progress}}
  </button>
</div> --}}

{{outlet}}