<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Stats </h1>
</div></div>


<div class="rightpanecon" >
    <br>
  {{#bs-tab as |tab|}}
  {{#tab.pane title="Internet"}}
  <br>
  <div class="stats">
    <div class="stat">
      <div class="date">
        <div class="dd1">
           <h3>20</h3>
           <p>Jun</p>
          </div>
          <div class="ddd3"><p>WED</p></div>
      </div>
    <div class="statsbar">
      <div class="clearfix">
        <div class="head h-left">
          <h3>63<span>%</span> </h3>
          <p>16 Hours 25 Minutes Active</p>
        </div>
          <div class="head h-right">
          <h3> 37<span>%</span> </h3>
          <p>7 Hours 35 Minutes of Inactivity</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width:63%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>

    {{!-- <div class="statsline">
        <div class="dot"></div>
    </div> --}}
    </div>
        <div class="stat">
      <div class="date">
        <div class="dd1">
           <h3>19</h3>
           <p>Jun</p>
          </div>
          <div class="ddd3"><p>TUE</p></div>
      </div>
    <div class="statsbar">
      <div class="clearfix">
        <div class="head h-left">
          <h3>55<span>%</span> </h3>
          <p>16 Hours 25 Minutes Active</p>
        </div>
          <div class="head h-right">
          <h3> 45<span>%</span> </h3>
          <p>7 Hours 35 Minutes of Inactivity</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width:55%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>

      <div class="statsline">
      <div class="tscale">
        <div>0</div>
        <div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div>
        <div>7</div><div>8</div><div>9</div><div>10</div><div>11</div><div>12</div>
        <div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div>
        <div>19</div><div>20</div><div>21</div><div>22</div><div>23</div><div>0</div>
        
        
      </div>
      <div class="line"> <div class="dot"></div></div>
      <div class="line inactive"><div class="dot"></div></div>
        {{!-- <div class="dot"></div> --}}
    </div>


    </div>
        <div class="stat">
      <div class="date">
        <div class="dd1">
           <h3>18</h3>
           <p>Jun</p>
          </div>
          <div class="ddd3"><p>MOn</p></div>
      </div>
    <div class="statsbar">
      <div class="clearfix">
        <div class="head h-left">
          <h3>70<span>%</span> </h3>
          <p>16 Hours 25 Minutes Active</p>
        </div>
          <div class="head h-right">
          <h3> 30<span>%</span> </h3>
          <p>7 Hours 35 Minutes of Inactivity</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
    {{!-- <div class="statsline">
        <div class="dot"></div>
    </div> --}}
    </div>
  </div>

  {{/tab.pane}}
  {{#tab.pane title="Power"}}

    <table class="table">
    <thead>
      <tr>
        <th>Date</th><th>Time</th><th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>21-6-2018</td>
        <td>12.30</td>
        <td><span class=" badge  badge-success" ><span class="glyphicon glyphicon-arrow-up"></span> </span></td>
      </tr>

      <tr>
        <td>21-6-2018</td>
        <td>1.40</td>
        <td><span class=" badge  badge-danger" ><span class="glyphicon glyphicon-arrow-down"></span></span></td>
      </tr>

      <tr>
        <td>21-6-2018</td>
        <td>3.45</td>
        <td><span class="badge  badge-success" ><span class="glyphicon glyphicon-arrow-up"></span></span></td>
      </tr>


    </tbody>
  </table>
  {{/tab.pane}}
{{/bs-tab}}

</div>
