
<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>t-radio</h1>
</div></div>
<div class="rightpanecon">
   
   <div class="col-md-12">
       <div class=" ssets">
<a href="/local/schedulesets/23/view" id="ember954" class="ember-view">  <div class="col-md-4">
    <div class="sset  well">
      {{!-- <h2>1</h2> --}}
                <img  style="height:50px;" src="/ttalks.png" alt="" />
      

       <span class="oktick glyphicon glyphicon-ok-sign"></span>
       <span class="ssh">t-talks</span>

    </div>
           <div class="trlist ">
                                           <h4 class="trib">Today</h4>

               <P> <span>Time </span> :  03:30 PM</P> 
               <p> <span>Duration </span> : 1 minute</p>
               <p><span>Subject</span> : Mount Everest</p>
       </div>
  </div>

</a><a href="/local/schedulesets/24/view" id="ember1023" class="ember-view">  <div class="col-md-4">
    <div class="sset  ">
                <img  style="height:60px;" src="/tclasses.png" alt="" />

       <span class="oktick glyphicon glyphicon-ok-sign"></span>
       <span class="ssh">t-classes</span>
    </div>
    <div class="trlist done">
                                           <h4 class="trib">Today</h4>

               <P> <span>Time </span> :  10:20 AM</P> 
               <p> <span>Duration </span> : 30 minutes</p>
               <p><span>Subject</span> : English Linguistics - Beginner</p>
       </div>
  </div>

</a><a href="/local/schedulesets/25/view" id="ember1033" class="ember-view">  <div class="col-md-4">
    <div class="sset  ">
                <img  style="height:50px;" src="/tnews.png" alt="" />

       <span class="ssh">t-news</span>

<!----><!---->    </div>
  </div>

</a></div>

   </div>
   <div class="col-md-12">
       <div class="col-md-4">

       </div>
       <div class="col-md-4">

       </div>
       <div class="col-md-4">

       </div>              
   </div>
    </div>

 {{outlet}}
