<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Settings</h1>
</div></div>
<div class="rightpanecon">
  {{#link-to 'dashboard.super.settings.wallet' class="btn   btn-default1"}}
    Wallet Setting
  {{/link-to}}

  {{#link-to 'dashboard.super.settings.quotes' class="btn   btn-default1"}}
    Appearance Settings
  {{/link-to}}

  <!-- {{#link-to 'dashboard.super.settings.calendar' class="btn   btn-default1"}}
    Calendar Settings
  {{/link-to}} -->

   {{#link-to 'dashboard.super.settings.profile' class="btn   btn-default1"}}
    Profile Settings
  {{/link-to}}


  {{outlet}}
</div>
