
<div class="rightpanecon">
<div class="t-media">

  {{!-- <table class="table">
    <thead>
      <tr>
        <th>File Name</th><th>Play</th><th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each quicknotifications as |quicknotification index|}}
      <tr>
        <td>{{quicknotification.filename}}</td>
        <td>
            <audio id={{index}} controls preload="none">
            <source id="source_{{index}}" src="{{quicknotification.fullurl}}" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </td>
        <td>
          <button {{action "deleteAudio"  quicknotification}}  type="text" class="btn btn-danger btn-xs " disabled={{buttonDisabled}} >Delete</button>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table> --}}



  {{!-- <div class="clearfix"><br>
   {{link-to 'Quick Annoucement' 'dashboard.local.quickannouncement.new'  class="pull-right btnqa" }}

   {{link-to 'Schedule Announcement' 'dashboard.local.quickannouncement.scheduleannouncement'   class=" pull-right btnqa2" }}

  </div> --}}

  {{!-- <table class="table">
    <thead>
      <tr>
        <th>Announcement Title</th><th>Status</th><th>Time</th><th>View</th>
      </tr>
    </thead>
    <tbody>
      {{#each quickannouncements as |quickannouncement index|}}

      <tr>
        <td>{{quickannouncement.description}}</td>
        <td>{{quickannouncement.url}}</td>
        <td>{{quickannouncement.filename}}</td>
        <td>{{quickannouncement.user}}</td>

        <td>    {{link-to 'Open' 'dashboard.local.quickannouncement.quickannouncement' quickannouncement.id class="btn btn-default btn-xs" }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table> --}}
<div class="col-md-12 clearfix">

<div class="col-md-4">
  <div class="quickannc">
    <div class="qtime">
      <div class="qdate">16/06/2018</div>
      
       04:25 <span>PM</span> 
    </div>
    <div class="qdata">
      <h4>Annoucement 1</h4>
      <p>holiday.mp3</p>
    </div>
    <div class="qactions">
      <button type="text" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
      <button type="text" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
      
    </div>
     <audio id="0" controls="" preload="none" controls controlsList="nodownload">
      <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180529%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180529T051751Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=32cde07d15dad17e6f3eb03e2235a018b84324632b323b090793c14af9f872c9" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>
<div class="col-md-4">
  <div class="quickannc">
    <div class="qtime">
       04:25 <span>PM</span> 
    </div>
     <audio id="0" controls="" preload="none" controls controlsList="nodownload">
      <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180529%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180529T051751Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=32cde07d15dad17e6f3eb03e2235a018b84324632b323b090793c14af9f872c9" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
</div>
<div class="col-md-4">
   {{#link-to 'dashboard.local.quickannouncement.new'  class="" }}

  <div class="quickannc qnew">
    
    <span class="glyphicon glyphicon-plus qplus"></span><h3> Create New</h3>
  </div>
   {{/link-to}}
  
</div>


</div>
{{!-- 
<div class="ui2board clearfix">
<div class="col-md-12">
<h3>Scheduled Announcements</h3>
<div class="ttrow th">
  <span class="td td_index">No.</span>
  <div class="td td_name">Announcement Title</div>
  <div class="td td_time"> Time</div>
  <div class="td td_file">Filename</div>
  <div class="td td_actions">Actions</div>
  
</div>
<div class="ttrow">
  <span class="td td_index">1</span>
  <div class="td td_name">Announcement 1</div>
  <div class="td td_time"> 11:20</div>
  <div class="td td_file">
        <audio id="0" controls="" preload="none">
      <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180529%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180529T051751Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=32cde07d15dad17e6f3eb03e2235a018b84324632b323b090793c14af9f872c9" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  <a href="" class="td td_edit" ><span class="glyphicon glyphicon-edit "></span> Edit</a>
  <a href="" class="td td_delete"><span class="glyphicon glyphicon-trash "></span>  Delete</a>
  
</div>
<div class="ttrow">
  <span class="td td_index">2</span>
  <div class="td td_name">Announcement 2</div>
  <div class="td td_time"> 15:20</div>
  <div class="td td_file">
        <audio id="0" controls="" preload="none">
      <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180529%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180529T051751Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=32cde07d15dad17e6f3eb03e2235a018b84324632b323b090793c14af9f872c9" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  <a href="" class="td td_edit"><span class="glyphicon glyphicon-edit "></span> Edit</a>
  <a href="" class="td td_delete"><span class="glyphicon glyphicon-trash "></span>  Delete</a>
  
</div>
<div class="ttrow">
  <span class="td td_index">3</span>
  <div class="td td_name">Announcement 12</div>
  <div class="td td_time"> 16:20</div>
  <div class="td td_file">
    <audio id="0" controls="" preload="none">
      <source id="source_0" src="https://tollerapp.s3.amazonaws.com/tollerapp/uploads/audio/2/school_bell.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJVRQEGP5R2LYGXFQ%2F20180529%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180529T051751Z&amp;X-Amz-Expires=604800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=32cde07d15dad17e6f3eb03e2235a018b84324632b323b090793c14af9f872c9" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  <a href="" class="td td_edit"><span class="glyphicon glyphicon-edit "></span> Edit</a>
  <a href="" class="td td_delete"><span class="glyphicon glyphicon-trash "></span>  Delete</a>
  
</div>

<div class="ttrow rowedit">
  <span class="td td_index">4</span>
  <div class="td td_name tded">{{input type="text"  class="form-control input-sm "  }}</div>
  <div class="td td_time tded">
    
  <select class="form-control tselect">
    
  <option value="06" attr="08-06">06</option>
  <option value="07" attr="08-07">07</option>
  <option value="08" attr="08-08">08</option>
  <option value="09" attr="08-09">09</option>
  <option value="10" attr="08-10">10</option>
  <option value="11" attr="08-11">11</option>
  <option value="12" attr="08-12">12</option>
  <option value="13" attr="08-13">13</option>
  <option value="14" attr="08-14">14</option>
  <option value="15" attr="08-15">15</option>
  <option value="16" attr="08-16">16</option>
  <option value="17" attr="08-17">17</option>
  <option value="18" attr="08-18">18</option>
  <option value="19" attr="08-19">19</option>
  <option value="20" attr="08-20">20</option>
  <option value="21" attr="08-21">21</option>
  <option value="22" attr="08-22">22</option>
  <option value="23" attr="08-23">23</option>
</select>
               <select class="form-control tselect">
                 
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
  <option value="51">51</option>
  <option value="52">52</option>
  <option value="53">53</option>
  <option value="54">54</option>
  <option value="55">55</option>
  <option value="56">56</option>
  <option value="57">57</option>
  <option value="58">58</option>
  <option value="59">59</option>
</select>
</div>
  <div class="td td_file tded">
    <select class="form-control tselect2">
  <option value="00">holiday.mp3</option>
  <option value="01">annc.mp3</option>
  <option value="02">annc2.mp3</option>
  <option value="03">001.mp3</option>
  <option value="04">default.mp3</option>
  </select>
  </div>
  <a href="" class="td td_save"><span class="glyphicon glyphicon-floppy-disk "></span> Save</a>
  <a href="" class="td td_cancel"><span class="glyphicon glyphicon-remove "></span>  Cancel</a>
  
</div>
</div>

</div> --}}

</div>
</div>

{{outlet}}
