
<div class="ui2">

<div class=" clearfix">

<form class="custom-radio">
  <div class="col-md-12">
      <h3 class="ui2h3">New Announcement</h3>
  <div class="row">
        <div class="col-md-3">
<input type="radio" name="radio" id="radio1" class="radio" checked/>
<label for="radio1">Announce Now</label>
</div>

<div class="col-md-3">
<input type="radio" name="radio" id="radio2" class="radio"/>
<label for="radio2">Schedule for Later</label>
</div>
  </div>

<br>

  <div class="form-group">
    {{!-- <label for="exampleInputEmail1">Title</label> --}}
    {{input type="text"  class="form-control ui2ip" placeholder="Title"}}

  </div>
  </div>
  <div class="col-md-12">
  {{!-- <label for="" class="ui2helper">Choose a File or Record an audio now.</label> --}}
  </div>

  <div class="col-md-12">
  <div class="form-group ui2sel">
    {{!-- <label >file</label> --}}
  <Select class="form-control ui2ip ">
    <option value="">Choose a file </option>    
    
    <option value="">Assembly</option>    
    <option value="">Holiday</option> 
    <option value="">Bell</option>       
          
       
  </Select>
  </div>
  <span class="ui2orspan">- OR -</span>

      <a class="btn btn-default ui2ip ui2recbtn" href=""> <span style="color:red" class="glyphicon glyphicon-record"></span>  Record Now</a>


  </div>

  

  
  
  <div class="col-md-12">

<div class="clearfix"></div>
  <button type="submit"  class="btn btn-default ">Start</button>
  </div>

</form>
</div>
</div>
<br>

<div class="ui2board clearfix">
  <div class="col-md-12">
    Uploading...
    
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div>
  <br>
  Announcing..
    <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"
  aria-valuemin="0" aria-valuemax="100" style="width:30%">
    70%
  </div>
</div>
<br>
  <button type="submit"  class="btn btn-default ui2btn">Cancel</button>
 
  </div>
</div>

{{outlet}}
