
<div class="ui2">

<div class="ui2board clearfix">

<form>
  <div class="col-md-12">
      <h3 class="ui2h3">Schedule New Announcement</h3>

  <div class="form-group">
    {{!-- <label for="exampleInputEmail1">Title</label> --}}
    {{input type="text"  class="form-control ui2ip" placeholder="Title"}}

  </div>
  </div>
  <div class="col-md-12">
  {{!-- <label for="" class="ui2helper">Choose a File or Record an audio now.</label> --}}
  </div>

  <div class="col-md-12">
  <div class="form-group ui2sel">
    {{!-- <label >file</label> --}}
  <Select class="form-control ui2ip ">
    <option value="">Choose a file </option>    
    
    <option value="">Assembly</option>    
    <option value="">Holiday</option> 
    <option value="">Bell</option>       
          
       
  </Select>
  </div>
  <span class="ui2orspan">- OR -</span>

      <a class="btn btn-default ui2ip ui2recbtn" href=""> <span style="color:red" class="glyphicon glyphicon-record"></span>  Record Now</a>


  </div>

  

  
  
  <div class="col-md-12">
  <select class="form-control ui2ip tselect ui2iptime">
  <option value="0111" attr="08-06" selected="true"  disabled>Set Hours</option>
    
  <option value="06" attr="08-06">06</option>
  <option value="07" attr="08-07">07</option>
  <option value="08" attr="08-08">08</option>
  <option value="09" attr="08-09">09</option>
  <option value="10" attr="08-10">10</option>
  <option value="11" attr="08-11">11</option>
  <option value="12" attr="08-12">12</option>
  <option value="13" attr="08-13">13</option>
  <option value="14" attr="08-14">14</option>
  <option value="15" attr="08-15">15</option>
  <option value="16" attr="08-16">16</option>
  <option value="17" attr="08-17">17</option>
  <option value="18" attr="08-18">18</option>
  <option value="19" attr="08-19">19</option>
  <option value="20" attr="08-20">20</option>
  <option value="21" attr="08-21">21</option>
  <option value="22" attr="08-22">22</option>
  <option value="23" attr="08-23">23</option>
</select>
               <select class="form-control ui2ip tselect ui2iptime">
  <option value="1212" attr="65" selected="true" disabled>Set Minutes</option>
                 
  <option value="00">00</option>
  <option value="01">01</option>
  <option value="02">02</option>
  <option value="03">03</option>
  <option value="04">04</option>
  <option value="05">05</option>
  <option value="06">06</option>
  <option value="07">07</option>
  <option value="08">08</option>
  <option value="09">09</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
  <option value="18">18</option>
  <option value="19">19</option>
  <option value="20">20</option>
  <option value="21">21</option>
  <option value="22">22</option>
  <option value="23">23</option>
  <option value="24">24</option>
  <option value="25">25</option>
  <option value="26">26</option>
  <option value="27">27</option>
  <option value="28">28</option>
  <option value="29">29</option>
  <option value="30">30</option>
  <option value="31">31</option>
  <option value="32">32</option>
  <option value="33">33</option>
  <option value="34">34</option>
  <option value="35">35</option>
  <option value="36">36</option>
  <option value="37">37</option>
  <option value="38">38</option>
  <option value="39">39</option>
  <option value="40">40</option>
  <option value="41">41</option>
  <option value="42">42</option>
  <option value="43">43</option>
  <option value="44">44</option>
  <option value="45">45</option>
  <option value="46">46</option>
  <option value="47">47</option>
  <option value="48">48</option>
  <option value="49">49</option>
  <option value="50">50</option>
  <option value="51">51</option>
  <option value="52">52</option>
  <option value="53">53</option>
  <option value="54">54</option>
  <option value="55">55</option>
  <option value="56">56</option>
  <option value="57">57</option>
  <option value="58">58</option>
  <option value="59">59</option>
</select>
<div class="clearfix"></div>
<br>
  <button type="submit" {{action 'createTicket'}} disabled={{isCreateTicketDisabled}} class="btn btn-default ui2btn">Submit</button>
  </div>

</form>
</div>
</div>
{{outlet}}
