<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Dashboard</h1>
</div></div>
<div class="rightpanecon">
  <span class="glyphicon glyphicon-dashboard cmsn"></span>
  <h2 class="cmsnh">Coming Soon</h2>

</div>
{{outlet}}
