<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Media</h1>
</div></div>
<div class="rightpanecon">
  <button class=" btn btn-default btn-upload pull-right">Upload Media
  {{file-upload   class="uploadprofile"  accept=".mp3"  user=user on-upload=(action "uploadProfilePic")}}
  {{#bs-progress as |p|}}
    {{p.bar value=uploadPercent minValue=0 maxValue=100 showLabel="Progress"  type="success" striped=true animate=true}}
  {{/bs-progress}}
  </button>

  <!-- <input type="button" value="Upload Files " class="ui mini green fluid button oxy" onclick="document.getElementById('uploadprofile').click();" /> -->

  <div class="t-media">

    <table class="table">
      <thead>
        <tr>
          <th>File Name</th><th>Play</th><th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each audios as |audio index|}}
        <tr>
          <td>{{audio.filename}}</td>
          <td>
              <audio id={{index}} controls preload="none">
              <source id="source_{{index}}" src="{{audio.fullurl}}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
          </td>
          <td>
            <button {{action "deleteAudio"  audio}}  type="text" class="btn btn-danger btn-xs {{buttonDisabled}}"  >Delete</button>
          </td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</div>
