<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Quick Annoucement</h1>
</div></div>

<div class="clearfix">
  <button class=" btn btn-default btn-upload pull-right " disabled={{buttonDisabled}} >Upload Media
  {{file-upload   class="uploadprofile"  accept=".mp3"  user=user on-upload=(action "uploadProfilePic")}}
  {{#bs-progress as |p|}}
    {{p.bar value=uploadPercent minValue=0 maxValue=100 showLabel="Progress"  type="success" striped=true animate=true}}
  {{/bs-progress}}
  </button>
</div>

<div class="rightpanecon">
<div class="t-media">

  <table class="table">
    <thead>
      <tr>
        <th>File Name</th><th>Play</th><th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each quicknotifications as |quicknotification index|}}
      <tr>
        <td>{{quicknotification.filename}}</td>
        <td>
            <audio id={{index}} controls preload="none">
            <source id="source_{{index}}" src="{{quicknotification.fullurl}}" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </td>
        <td>
          <button {{action "deleteAudio"  quicknotification}}  type="text" class="btn btn-danger btn-xs " disabled={{buttonDisabled}} >Delete</button>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>
</div>
