<div class="rightpanetitle "><div class="row">
<div class="gback" {{action "goBack" }}><span class="glyphicon glyphicon-menu-left	"></span></div>
<h1>Schedule Sets</h1>
</div></div>
<div class="rightpanecon">
  {{outlet}}
</div>
