
{{link-to 'New'  'dashboard.local.tickets.new' class="btn btn-default pull-right"}}
<br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket ID</th><th>Ticket Title</th><th>Status</th><th>View</th>
      </tr>
    </thead>
    <tbody>
      {{#each tickets as |ticket index|}}

      <tr>
        <td>{{ticket.id}}</td>
        <td>{{ticket.title}}</td>
        <td><span class=" " style="text-transform:capitalize">{{ticket.status}}</span></td>
        <td>    {{link-to 'Open' 'dashboard.local.tickets.ticket' ticket.id class="btn btn-default btn-xs" }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
