
<div class="t-ticket">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      {{#if ticket.editdescription}}

      <div class="row"  >
        <div class="col-md-11">
          {{input type="text"  class="form-control input-sm " value=ticket.title placeholder="Title" }}
        </div>
        <div class="col-md-1">
          <button class="btn btn-default btn-sm pull-right" {{action "saveDescription" ticket}} disabled={{buttonDisabled}}>Save</button>
        </div>
      </div>

      {{else}}
      <h4 class="pull-left">{{ticket.title}}</h4>&nbsp;&nbsp;
      <button class="btn btn-default btn-xs pull-right" {{action "editDescription" ticket}} disabled={{buttonDisabled}} ><span class="glyphicon glyphicon-pencil"></span></button>
      {{#if (eq ticket.status 'open')}}
      <button type="submit" {{action 'closeTicket' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-xs pull-right mr10" >Close Ticket</button>
      {{/if}}

      {{#if (eq ticket.status 'closed')}}
      <button type="submit" {{action 'reOpenTicket' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-xs pull-right mr10">Reopen Ticket</button>
      {{/if}}


      {{/if}}

    </div>
    <div class="panel-body">
      <span class="label label-{{ticket.status}}">{{ticket.status}}</span>
      <span class="ago">{{moment-from-now ticket.createdat }}</span>
      {{#bs-collapse }}
        <div class="well">
        <h2>Collapse</h2>
        <p>This is collapsible content</p>
        </div>
        {{/bs-collapse}}
      {{#if ticket.editbody}}

      <button class="btn btn-default btn-xs pull-right" {{action "saveBody" ticket}} disabled={{buttonDisabled}}>Save</button>

      <hr>

      {{textarea value=ticket.body class="form-control" rows="4"}}<br>

      {{else}}
      <button class="btn btn-default btn-xs pull-right"    {{action "editBody" ticket}} disabled={{buttonDisabled}} >Edit</button>
      <hr>
      <p>{{ticket.body}}</p>
      {{/if}}

      {{#if (eq ticket.status 'open')}}

{{/if}}
<hr>
{{#each ticket.replies as |reply index|}}
<div class="form-group">

  {{#if reply.editreply}}
  <div class="reply">
    {{textarea value=reply.body class="form-control" rows="3"}}
    <hr>
    <button class="btn btn-default btn-xs" title="Edit" {{action "saveReply" reply}} disabled={{buttonDisabled}}>Save</button>
    <button class="btn btn-default btn-xs" title="Delete" {{action "deleteReply" reply}} disabled={{buttonDisabled}}>Delete</button>
  </div>


  {{else}}
  <div class="reply">
    <p>{{reply.body}}</p><hr>
    {{#if (eq reply.user.role currentUserrole)}}
    <button class="btn btn-default btn-xs btn-reply" {{action "editReply" reply}} disabled={{buttonDisabled}} >Edit</button>&nbsp;|
    {{/if}}
    <span class="ago">     {{moment-from-now reply.updatedat }}</span>
    {{#if (eq ticket.status 'open')}}
    {{#if (eq reply.user.role currentUserrole)}}
    <button class=" btn btn-default btn-upload1 pull-right btn-xs">Upload Files
      {{file-upload   class="uploadprofile"  accept=".png,.jpg,.jpeg,.gif,.bmp"  method="reply" ticket=ticket reply=reply on-upload=(action "uploadAttachment")}}

    </button>
    {{/if}}



    <table class="table">
      <tbody>
        {{#each reply.attachments as |attachment index|}}

        <tr>
          <td>{{attachment.filename}} </td>
          <td><button {{action "deleteAttachment"  attachment}}  type="text" class="btn btn-default btn-xs pull-right " title="Delete"  disabled={{buttonDisabled}}><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
        {{/each}}

      </tbody>
    </table>



    {{else}}

    <tr>
      {{#each reply.attachments as |attachment index|}}

      <tr>
        <td>{{attachment.id}} -- {{attachment.filename}} </td>

      </tr>
      {{/each}}

    </tr>
    {{/if}}
  </div>

  {{/if}}
</div>



{{/each}}
{{#if (eq ticket.status 'open')}}
<button type="submit" {{action 'addReply' ticket}} disabled={{buttonDisabled}} class="btn btn-default btn-sm">Add Reply</button>
{{/if}}
</div>
</div>
</div>
<form>

</form>
