<div class="wrap">
<div class="container-fluid">
  <div class="row">

<div class="app">



    <!-- Start of Local Admin -->
    {{#if isLocal}}

      				<div class=" sidebar">

                <!-- <h3 class="">{{#link-to 'dashboard.local.index'}}Toller Pro {{/link-to}}</h3> -->
                <img  src="/tp.png" alt="" />
                <div class="profile clearfix"><div class="img ">

                </div>
                        {{#bs-dropdown tagName="span" as |dd|}}
                      {{#dd.toggle}}{{userEmail}}<span class="caret"></span>{{/dd.toggle}}
                      {{#dd.menu as |menu|}}

                          {{#menu.item}}
                              <a {{action "logout"}}>Logout</a>
                              {{#if userImpersonated}}
                              <a {{action "deImpersonate"}}>Deimpersonate</a>
                              {{/if}}
                          {{/menu.item}}
                      {{/dd.menu}}
                  {{/bs-dropdown}}

                </div>
                <div class="list-group">
                {{#link-to 'dashboard.local.home' class="list-group-item " }}Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span>{{/link-to}}
                {{#link-to 'dashboard.local.schedulesets.index' class="list-group-item "}}Schedule Set<span class="glyphicon glyphicon-list pull-right"></span>{{/link-to}}
                {{#link-to 'dashboard.local.quickannouncement' class="list-group-item "}}Quick Announcement<span class="glyphicon glyphicon-bullhorn pull-right"></span>{{/link-to}}
                {{#link-to 'dashboard.local.fire-evacuation' class="list-group-item "}}Fire Evacuation Plan<span class="glyphicon glyphicon-fire pull-right"></span>{{/link-to}}
                {{#link-to 'dashboard.local.t-radio' class="list-group-item "}}	t-radio<span class="glyphicon glyphicon-play pull-right"></span>{{/link-to}}
               
                {{#link-to 'dashboard.local.mediamanager' class="list-group-item "}}Media<span class="glyphicon glyphicon-music pull-right"></span>{{/link-to}}
                {{#link-to 'dashboard.local.stats' class="list-group-item "}}	Stats<span class="glyphicon glyphicon-stats pull-right"></span>{{/link-to}}
                
                {{#link-to 'dashboard.local.tickets.index' class="list-group-item "}}Tickets<span class="glyphicon glyphicon-tags pull-right"></span>{{/link-to}}
                <!-- {{#link-to 'dashboard.local.log' class="list-group-item "}}Log<span class="glyphicon glyphicon-bullhorn pull-right"></span>{{/link-to}} -->
                {{!-- {{#link-to 'dashboard.local.profile' class="list-group-item "}}	Stats<span class="glyphicon glyphicon-stats pull-right"></span>{{/link-to}} --}}
          
                {{#link-to 'dashboard.local.payments.index' class="list-group-item "}}Payment History<span class="glyphicon glyphicon-credit-card pull-right"></span>{{/link-to}}
                <!-- {{#link-to 'dashboard.local.configuration' class="list-group-item "}}Configuration<span class="glyphicon glyphicon-wrench pull-right"></span>{{/link-to}} -->
                {{#link-to 'dashboard.local.profile' class="list-group-item "}}	Settings<span class="glyphicon glyphicon-wrench pull-right"></span>{{/link-to}}

                <p>
              Meembit Innovations & Research Pvt Ltd.
                </p>
                </div>

      				</div>
      				<div class="col-md-9 rightpane">

                {{outlet}}
      				</div>


    {{/if}}
   <!-- End of Local Admin -->



   <!-- Start of Group Admin -->
  {{#if isGroup}}

  <div class=" sidebar">
    <h3 class="">{{#link-to 'dashboard.group.index'}}Toller Pro {{/link-to}}</h3>
    <div class="profile clearfix">
      {{#bs-dropdown tagName="span" as |dd|}}
      {{#dd.toggle}}{{userEmail}}<span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |menu|}}
      {{#menu.item}}
          <a {{action "logout"}}>Logout</a>
      {{/menu.item}}
      {{/dd.menu}}
    {{/bs-dropdown}}
    </div>

    {{#link-to 'dashboard.group.index' class="list-group-item " }}Dashboard<span class="glyphicon glyphicon-dashboard pull-right"></span>{{/link-to}}
    {{#link-to 'dashboard.group.users.index' class="list-group-item"}}Users<span class="glyphicon glyphicon-user pull-right"></span>{{/link-to}}
    {{#link-to 'dashboard.group.schedulesets.index'class="list-group-item "}}Schedule Set<span class="glyphicon glyphicon-list pull-right"></span>{{/link-to}}
    {{#link-to 'dashboard.group.quickannouncement' class="list-group-item "}}Quick Announcement<span class="glyphicon glyphicon-bullhorn pull-right"></span>{{/link-to}}
    {{#link-to 'dashboard.group.mediamanager' class="list-group-item "}}Media<span class="glyphicon glyphicon-music pull-right"></span>{{/link-to}}



            </div>
            <div class="col-md-9 rightpane">
              {{outlet}}
            </div>


  {{/if}}
   <!-- End of Group Admin -->




    <!-- Start of Super Admin -->
   {{#if isSuper}}

             <div class=" sidebar">
               <h3 class="">{{#link-to 'dashboard.super.index'}}Toller Pro {{/link-to}}</h3>
               <div class="profile clearfix">
                 {{#bs-dropdown tagName="span" as |dd|}}
                 {{#dd.toggle}}{{userEmail}}<span class="caret"></span>{{/dd.toggle}}
                   {{#dd.menu as |menu|}}
                 {{#menu.item}}
                     <a {{action "logout"}}>Logout</a>
                 {{/menu.item}}
                 {{/dd.menu}}
               {{/bs-dropdown}}
               </div>

               {{#link-to 'dashboard.super.index' class="list-group-item " }}Dashboard<span class="glyphicon glyphicon-dashboard pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.users.index' class="list-group-item"}}Users<span class="glyphicon glyphicon-user pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.groups.index' class="list-group-item"}}Groups<span class="glyphicon glyphicon-th pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.schedulesets.index' class="list-group-item"}}Dummy Schedules<span class="glyphicon glyphicon-list pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.tickets.index' class="list-group-item"}}Tickets<span class="glyphicon glyphicon-tags pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.settings.index' class="list-group-item"}}Settings<span class="glyphicon glyphicon-wrench pull-right"></span>{{/link-to}}
               {{#link-to 'dashboard.super.mediamanager' class="list-group-item "}}Media<span class="glyphicon glyphicon-music pull-right"></span>{{/link-to}}
               <p>
                 Meembit Innovations & Research Pvt Ltd.
               </p>
             </div>
             <div class="col-md-9 rightpane">

               {{outlet}}


             </div>



   {{/if}}
    <!-- End of Super Admin -->




</div>
</div>
</div>
</div>
