<div class="container ">
	<div class="row">
		<div class="app app-login">

		<div class="col-md-8 hidden-xs">
			<div class="row bgslider">



					{{#each backgroundimages as |backgroundimage index|}}
					<img src={{backgroundimage.fullurl}} />
					{{/each}}


				</div>


				<div class="qslider">
					{{!-- <h2>A proven, affordable and friendly technology to make your school more organised and efficient. Trying costs nothing. It's absolutely FREE.                        </h2> --}}




{{!-- 
										{{#ember-cli-carousel timeInterval=6000 reverse=false}}

										{{#each quotes as |quote index|}}
										{{#ember-cli-carousel-item}}
										<div class="text-center" style="  background: #0078c966;padding:10px 0px;">{{quote.quotetext}} - {{quote.author}}</div>
									{{/ember-cli-carousel-item}}
										{{/each}}
										{{/ember-cli-carousel}} --}}

										{{#each quotes as |quote index|}}
										<div class="text-center" style="  background: #0078c966;padding:10px 0px;">{{quote.quotetext}} - {{quote.author}}</div>
										{{/each}}
						




			</div>






		</div>
		<div class="col-md-4 login">
			<img class="llogo" src="/tp.png" alt="" />
			<h2>Login</h2>
			<form role="form" {{action "authenticate"  on="submit"}}>
				<div class="form-group">
				{{input type="text" class="form-control" value=username placeholder="Username"}}
				</div>
				<div class="form-group">
				{{input type="password"  class="form-control" value=password placeholder="Password"}}
				</div>
				<button type="submit" class="btn btn-default btn-block btn-sm " style="width:40%" disabled={{isLoginButtonDisabled}}>
					Login
				</button>
			</form>
			<a class="reglink btn-block" style="width:30%" href="http://www.register.toller.in/" >Register Here </a>

			<div class="bll">
				Meembit Innovations & Research Pvt Ltd.
			</div>
		</div>
	</div>
</div>

</div>
