


 {{#link-to 'dashboard.super.groups.new' class="btn btn-default pull-right"}}
  New Group
  {{/link-to}}

  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {{#each groups as |group index|}}
      <tr>
        <td> {{incrementone index}}</td>
        <td> {{group.name}}</td>
        <td>{{link-to 'Open'  'dashboard.super.groups.group.view' group.id class="btn btn-default btn-xs" }}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>
