<table class="table">

  <tbody>
    <tr>
      <td>Name of Group</td>
      <td>    {{input type="text" value=name class="form-control" placeholder="Group Name"}}
      </td>
    </tr>
    <tr>
      <td>User Name</td>
      <td>{{input type="text"  class="form-control" value=username}}*</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{input type="email"  class="form-control" value=email}}*</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>
        <select onchange={{action "selectLanguage" value="target.value"}}>
          {{#each languages as |languageChoice|}}
          <option value={{languageChoice}}  selected={{eq user.language languageChoice}} >{{languageChoice}}</option>
          {{/each}}
        </select>
    </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{{input type="password"  class="form-control" value=password}}*</td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>{{input type="password" class="form-control" value=password_confirmation}}*</td>
    </tr>
    {{#if checkPasswordSame}}
    <div class="alert">Password is not same</div>
    {{/if}}
  </tbody>
</table>

<button type="submit" {{action 'createGroup'}} disabled={{isCreateGroupDisabled}} class="btn btn-default">Submit</button>
